<h3 class="mb-3 mt-4 text-dcc-primary">بيانات الدخل</h3>

<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
    <div class="form-group col">
        <label class="col-form-label">نوع الدخل</label>
        <input type="text" class="form-control" value="راتب" disabled>
    </div>
    <div class="form-group col">
        <label class="col-form-label">مصدر الدخل</label>
        <input type="text" class="form-control" value="راتب" disabled>
    </div>
    <div class="form-group col">
        <label class="col-form-label"> مبلغ الدخل الشهري</label>
        <input type="text" class="form-control" value="8000 ريال" disabled>
    </div>
</div>

<h3 class="mb-3 mt-4 text-dcc-primary">البيانات البنكية</h3>

<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
  <div class="form-group col">
      <label class="col-form-label">اسم البنك</label>
      <select class="custom-select">
        <option value="1">بنك سامبا</option>
        <option value="1">بنك الإنماء</option>
        <option value="2">البنك السعودي الفرنسي</option>
    </select>
  </div>
  <div class="form-group col">
      <label class="col-form-label">رقم الحساب البنكي</label>
      <div class="input-group">
        <input pInputText type="text" class="form-control ltr">
        <span class="input-group-append">
          <span class="input-group-text" id="basic-addon2">SA</span>
        </span>
      </div>
  </div>
</div>