<footer class="footer {{ backgroundClass }} py-3">
    <div class="container flex-center-center text-center">
        <small class="{{ textClass }}">{{
      "footer.copyright" | translate: { year: currentYear }
    }}</small>

        <!-- <div class="d-flex align-items-center">
  <a class="{{linkClass}} mx-2 pt-0 mb-0 text-white" routerLink="/support">
    <small>{{'support.header_title' | translate}}</small>
  </a>
  <span class="{{linkClass}} mx-2">|</span>
  <a class="{{linkClass}} mx-2 pt-0 mb-0 text-white" href="assets/pdf/terms-and-conditions.pdf" target="_blank">
    <small>{{'footer.terms_and_conditions' | translate}}</small>
  </a>
  <span class="{{linkClass}} mx-2">|</span>
  <a href="javascript:void(0)" class="{{linkClass}} mx-2" target="_blank">
    <svg-icon styleClass="ml-2" icon="twitter"></svg-icon>
  </a>
  <a href="javascript:void(0)" class="{{linkClass}} mx-2" target="_blank">
    <svg-icon styleClass="ml-2" icon="linkedin"></svg-icon>
  </a>
  <a href="javascript:void(0)" class="{{linkClass}} mx-2" target="_blank">
    <svg-icon styleClass="ml-2" icon="youtube"></svg-icon>
  </a>
</div> -->
    </div>
</footer>