
<div class="login__box px-4 px-md-6 mb-4">
  <div>
    <!-- <div class="lang_swtich_login mt-n5 ml-n6">
      <svg-icon styleClass="h4 text-light-gray" icon="globe"></svg-icon>
      <select class="text-muted pl-4" [(ngModel)]="selectedLang" (ngModelChange)="onLangSelect($event)">
        <option *ngFor="let lang of localizedSupportedLanguages" [ngValue]="lang"> {{lang.label}}  </option>
      </select>
    </div> -->
    <div class="text-center mt-6 mb-4">
      <img src="assets/images/logo.png" alt="logo"/>
    </div>
  </div>

  <div class="form-group" *ngIf="!isApplicantVerified">
    <div class="d-flex flex-column flex-lg-row justify-content-between flex-wrap">
      <div class="custom-control custom-radio custom-control-inline mb-2 mb-lg-0">
        <input type="radio" id="customRadioInline1" name="customRadioInline1" class="custom-control-input" checked/>
        <label class="custom-control-label text-nowrap" for="customRadioInline1" (click)="registerType = 'uin'">{{"register.smart_id_number"|translate}}</label>
      </div>
      <div class="custom-control custom-radio custom-control-inline mb-2 mb-lg-0">
        <input type="radio" id="customRadioInline2" name="customRadioInline1" class="custom-control-input"
        />
        <label class="custom-control-label text-nowrap" for="customRadioInline2" (click)="registerType = 'id'">{{"general.identity_number"|translate}}</label>
      </div>
      <div class="custom-control custom-radio custom-control-inline mb-2 mb-lg-0">
        <input type="radio" id="customRadioInline3" name="customRadioInline1" class="custom-control-input"
        />
        <label class="custom-control-label text-nowrap" for="customRadioInline3" (click)="registerType = 'passport'">{{"card-management.passport_number"|translate}}</label>
      </div>
    </div>
  </div>
  <form [formGroup]="registerForm" class="login-box__wrapper">
    <h1 class="text-dcc-primary font-weight-bold mb-4 h4">
      {{ "register.header_title" | translate }}

    </h1>
    <div class="row row-cols-1 row-cols-md-2">
      <div class="mb-3 col">
        <label>{{idFieldName()}}<span class="text-danger small px-1">*</span></label>
        <input id="uin" formControlName="uin" class="form-control" [readonly]="isApplicantVerified"
               onkeypress="return this.value.length < 30"
               min="0" step="1" [class.is-invalid]="f.uin.touched" maxlength="50"/>
        <div *ngIf="f.uin.invalid && f.uin.touched" class="invalid-feedback">
          <div *ngIf="f.uin.errors.required">{{'general.field_validation_required' | translate}}</div>
          <div *ngIf="f.uin.errors.invalid">{{f.uin.errors['invalid'] | translate}}</div>
        </div>
      </div>
      <div class="mb-3 col">
        <label>{{ "general.date_of_birth" | translate}}<span class="text-danger small px-1">*</span></label>

        <hijri-gregorian-datepicker
          [showLabel]="false"
          name="dateOfBirthGregorian"
          buttonClass="dcc-primary"
          class="datepicker {{
            f.dateOfBirthGregorian.errors && f.dateOfBirthGregorian.touched? 'is-invalid': ''}}"
          [(selectedDate)]="selectedDateOfBirth"
          (selectedDateChange)="onDateOfBirthChange($event)"
          [isRequired]="true"
          [maxGreg]="maxDateOfBirthGregorian"
          [minGreg]="minDateOfBirthGregorian"
          [maxHijri]="maxDateOfBirthHijri"
          [minHijri]="minDateOfBirthHijri"
          [GregLabel]="'general.cal_greg' | translate"
          [hijriLabel]="'general.cal_hijri' | translate"
          [selectedDateType]="selectedDateType"
          [disabled]="isApplicantVerified"
          [readonly]="true"
          #datePicker
        >
        </hijri-gregorian-datepicker>

        <div class="text-dcc-primary date-eq" *ngIf="dateString">
          {{ "general.cal_eq" | translate }} {{ dateString }}
        </div>
        <div *ngIf="f.dateOfBirthGregorian.invalid && f.dateOfBirthGregorian.touched" class="invalid-feedback date-eq">
          <div *ngIf="f.dateOfBirthGregorian.errors.required">{{'general.field_validation_required' | translate}}</div>
          <div *ngIf="f.dateOfBirthGregorian.errors.invalid"
               translate>{{f.dateOfBirthGregorian.errors['invalid']}}</div>
        </div>
      </div>
      <div class="mb-3 col d-none">
        <ngx-invisible-recaptcha
          #reCaptchaEl
          type="Image"
          [siteKey]="recaptchaSiteKey"
          formControlName="recaptcha"
          hl="{{ currentLanguage }}"
          badge="Badge"
          (load)="onCaptchaLoad()"
          (ready)="onCaptchaReady()"
          (success)="onCaptchaSuccess($event)">
        </ngx-invisible-recaptcha>
      </div>

      <div class="mb-3 col-12 text-left">
        <button class="btn btn-outline-dcc-primary px-5 w_full "
                [disabled]="!dateString || !f.uin.value ||isApplicantVerified"
                (click)="verifyApplicant()">
          {{"register.validate"|translate}}
        </button>
      </div>
    </div>

    <div class="row row-cols-1 row-cols-md-2">

      <ng-container *ngIf="isApplicantVerified">

        <div class="mb-3 col">
          <label> {{"general.full_name_En"|translate}} </label>
          <input type="text" class="form-control" formControlName="fullNameEn" [attr.disabled]="true"/>
        </div>
        <div class="mb-3 col">
          <label>{{"general.full_name_Ar"|translate}} </label>
          <input type="text" class="form-control" formControlName="fullNameAr" [attr.disabled]="true"/>
        </div>
        <div class="mb-3 col">
          <label>   {{"general.email"|translate}} </label>
          <input type="text" class="form-control" formControlName="email" maxlength="50"
                 [class.is-invalid]="f.email.invalid && f.email.touched"/>
          <div *ngIf="f.email.invalid && f.email.touched" class="invalid-feedback">
            <div *ngIf="f.email.errors.required">{{'general.field_validation_required' | translate}}</div>
            <div
              *ngIf="f.email.invalid &&!f.email.errors?.required">{{'general.field_validation_pattern' | translate}}</div>
          </div>
        </div>
        <div class="mb-3 col">
          <label> {{"general.mobile_number"|translate}}</label>
          <div ngbDropdown #countryListDropdown="ngbDropdown" (openChange)="onOpenChange($event)"
               class="d-inline-block w-100">
            <div class="input-group">
              <button class="btn btn-link ltr country-prefix-button" id="dropdown1"
                      ngbDropdownToggle
                      (click)="openTypeahead()" [disabled]="!this.registerForm.enabled">
                <span class="flag-icon flag-icon-{{selectedCountryCode?.toLowerCase()}}"></span>
                {{selectedCountryPrefix}}
              </button>
              <input class="form-control mobile-number-input" formControlName="mobileNumber" maxlength="15"
                     onkeypress="return event.keyCode === 8 || event.charCode >= 48 && event.charCode <= 57 && this.value.length < 15"
                     [class.is-invalid]="f.mobileNumber.invalid && f.mobileNumber.touched"/>

              <div ngbDropdownMenu class="dropdown-menu no-transform" aria-labelledby="dropdown1">
                <ng-template #rt let-r="result" let-t="term">
                  <span class="flag-icon flag-icon-{{r['code'].toLowerCase()}} flag-icon-selected"></span>
                  <ngb-highlight [result]="r.countryPhonePrefix + ' ' + r.label" [term]="t"></ngb-highlight>
                </ng-template>
                <input id="typeahead-template"
                       type="text"
                       class="form-control country-prefix-input"
                       placeholder="{{'settings.search_country_dialing_code' | translate }}"
                       [ngbTypeahead]="search"
                       [resultTemplate]="rt"
                       [inputFormatter]="inputFormatter"
                       (selectItem)="onSelect($event, elem)"
                       (focus)="focus$.next($event.target.value)"
                       (click)="click$.next($event.target.value)"
                       #instance="ngbTypeahead"
                       #elem
                />
              </div>
            </div>
          </div>

          <div
            *ngIf="(f.mobileNumber.errors && f.mobileNumber.touched)"
            class="text-danger small mobile-number-errors">
            <div *ngIf="f.mobileNumber.errors?.required"> {{'general.field_validation_required' | translate}} </div>
            <div
              *ngIf="f.mobileNumber.errors?.validatePhoneNumber">{{'general.field_validation_pattern' | translate}}</div>
            <div *ngIf="f.mobileNumber.errors?.invalid">{{'general.field_validation_pattern' | translate}}</div>
          </div>
        </div>

        <div class="mb-3 col">
          <label>{{"general.password"|translate}}</label>
          <input type="password" formControlName="password"
                 [ngClass]="{'is-invalid': f.password.errors && f.password.touched}" class="form-control"/>

          <div *ngIf="f.password.errors && f.password.touched" class="text-danger small">
            <div *ngIf="f.password.errors.required">
              {{ "general.field_validation_required" | translate }}
            </div>
            <div *ngIf="f.password.errors.minlength">
              {{
              "general.field_validation_min_length" | translate: {minLength: 8}
              }}
            </div>
            <div *ngIf="f.password.errors.maxlength">
              {{
              "general.field_validation_max_length" | translate: {maxLength: 16}
              }}
            </div>
            <div *ngIf="f.password.errors.invalid">
              {{ f.password.errors["invalid"] | translate }}
            </div>
          </div>
        </div>

        <div class="mb-3 col">
          <label>{{"general.confirm_password"|translate}}</label>
          <input type="password" formControlName="confirmPassword"
                 [ngClass]="{'is-invalid':  (f.confirmPassword.errors && f.confirmPassword.touched) ||
                          (registerForm.errors?.mismatch &&(f.password.dirty && f.confirmPassword.touched))}"
                 class="form-control"/>
          <div *ngIf="f.confirmPassword.errors && f.confirmPassword.touched" class="text-danger small">
            <div *ngIf="f.confirmPassword.errors.required">
              {{ "general.field_validation_required" | translate }}
            </div>
            <div *ngIf="f.confirmPassword.errors.minlength">
              {{
              "general.field_validation_min_length" | translate: {minLength: 8}
              }}
            </div>
            <div *ngIf="f.confirmPassword.errors.maxlength">
              {{
              "general.field_validation_max_length" | translate: {maxLength: 16}
              }}
            </div>

            <div *ngIf="f.confirmPassword.errors.invalid">
              {{ f.confirmPassword.errors["invalid"] | translate }}
            </div>

          </div>

          <div
            *ngIf=" registerForm.errors?.mismatch && (f.confirmPassword.touched ) &&!f.confirmPassword.errors?.required"
            class="text-danger small">
            {{"general.confirm_password_mismatch"|translate}}
          </div>
        </div>

      </ng-container>


    </div>
    <div class="flex-center-between my-3">
      <a class="d-block w_full text-center text-md-left" (click)="goBack()" href="javascript:void(0);">
        <svg-icon styleClass="ml-4 mr-2 flip" icon="arrow-right"></svg-icon>
        <span class="mx-2 px-1">{{ "general.btn_back" | translate }}</span>
      </a>

      <ng-container *ngIf="isApplicantVerified">
        <button class="btn btn-dcc-primary w_full" (click)="register()">
          {{"general.register_user"|translate}}
        </button>
      </ng-container>


    </div>
  </form>


</div>

