<span class="lang_swtich_login">
  <button
    class="btn btn-md border btn-light px-3 mt-4 mb-3"
    *ngIf="currentLanguage.startsWith('en')"
    (click)="setLanguage('ar-SA')"
  >
    <span>عربي</span>
</button>
<button class="btn btn-md border btn-light px-3 mt-4 mb-3" *ngIf="currentLanguage.startsWith('ar')"
        (click)="setLanguage('en-US')">
    <span>English</span>
  </button>
</span>

<div class="login__box">
  <div class="text-center">
    <img class="my-4" src="assets/images/logo.png" alt="logo"/>
  </div>

  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="login-box__wrapper">
    <h1 class="text-dcc-primary font-weight-bold mb-4 h4">
      {{ "register.header_title" | translate }}

    </h1>
    <div class="form-group form-row">
      <div class="col-md-4 col-sm-12 mb-4 mb-md-0">
        <label>{{"register.smart_id_number"|translate}}<span class="text-danger px-1">*</span></label>
        <input id="uin" type="number" formControlName="uin" class="form-control" [readonly]="isApplicantVerified"
               onkeypress="return event.keyCode === 8 || event.charCode >= 48 && event.charCode <= 57 && this.value.length < 14"
               min="0" step="1" [class.is-invalid]="f.uin.invalid && f.uin.touched" maxlength="50"/>
        <div *ngIf="f.uin.invalid && f.uin.touched" class="invalid-feedback">
          <div *ngIf="f.uin.errors.required">{{'general.field_validation_required' | translate}}</div>
          <div *ngIf="f.uin.errors.invalid">{{f.uin.errors['invalid'] | translate}}</div>
        </div>
      </div>
      <div class="col-md-4 col-sm-12 mb-4 mb-md-0">
        <label>{{ "general.date_of_birth" | translate}}<span class="text-danger px-1">*</span></label>

        <hijri-gregorian-datepicker
          [showLabel]="false"
          name="dateOfBirthGregorian"
          buttonClass="dcc-primary"
          class="datepicker {{
            f.dateOfBirthGregorian.errors && f.dateOfBirthGregorian.touched? 'is-invalid': ''}}"
          [(selectedDate)]="selectedDateOfBirth"
          (selectedDateChange)="onDateOfBirthChange($event)"
          [isRequired]="true"
          [maxGreg]="maxDateOfBirthGregorian"
          [minGreg]="minDateOfBirthGregorian"
          [maxHijri]="maxDateOfBirthHijri"
          [minHijri]="minDateOfBirthHijri"
          [GregLabel]="'general.cal_greg' | translate"
          [hijriLabel]="'general.cal_hijri' | translate"
          [selectedDateType]="selectedDateType"
          [disabled]="isApplicantVerified"
          [readonly]="true"
          #datePicker
        >
        </hijri-gregorian-datepicker>

        <div class="text-dcc-primary date-eq" *ngIf="dateString">
          {{ "general.cal_eq" | translate }} {{ dateString }}
        </div>
        <div *ngIf="f.dateOfBirthGregorian.invalid && f.dateOfBirthGregorian.touched" class="invalid-feedback date-eq">
          <div *ngIf="f.dateOfBirthGregorian.errors.required">{{'general.field_validation_required' | translate}}</div>
          <div *ngIf="f.dateOfBirthGregorian.errors.invalid"
               translate>{{f.dateOfBirthGregorian.errors['invalid']}}</div>
        </div>
      </div>
      <div class="col-md-4 col-sm-12 mb-4 mb-md-0">
        <ngx-invisible-recaptcha
          #reCaptchaEl
          type="Image"
          [siteKey]="recaptchaSiteKey"
          formControlName="recaptcha"
          hl="{{ currentLanguage }}"
          badge="Badge"
          (load)="onCaptchaLoad()"
          (ready)="onCaptchaReady()"
          (success)="onCaptchaSuccess($event)">
        </ngx-invisible-recaptcha>
      </div>

      <div class="col-md-4 col-sm-12 mb-4 mb-md-0">
        <button class="btn btn-outline-dcc-primary px-5 w_full"
                [disabled]="!dateString || !f.uin.value ||isApplicantVerified"
                (click)="verifyApplicant()">
          {{"register.validate"|translate}}
        </button>
      </div>
    </div>

    <div class="mt-5">
      <div
        [ngClass]="{ 'animated fadeInUp': isApplicantVerified, 'visibility_show': isApplicantVerified , 'visibility_hide': !isApplicantVerified }">
        <div class="form-group form-row">
          <div class="col-md-4 col-sm-12 mb-4 mb-md-0">
            <label> {{"general.full_name_En"|translate}} </label>
            <input type="text" class="form-control" formControlName="fullNameEn" disabled/>
          </div>
          <div class="col-md-4 col-sm-12 mb-4 mb-md-0">
            <label>{{"general.full_name_Ar"|translate}} </label>
            <input type="text" class="form-control" formControlName="fullNameAr" disabled/>
          </div>
          <div class="col-md-4 col-sm-12 mb-4 mb-md-0">
            <ng-template #rt let-r="result" let-t="term">
              <ngb-highlight [result]="r.dial_code" [term]="t"></ngb-highlight>
              <span class="flag-icon mx-2 flag-icon-{{r['code'].toLowerCase()}}"></span>
            </ng-template>
            <label> {{"general.mobile_number"|translate}}</label>
            <div dir="rtl" class="input-group">
              <input type="number" class="form-control" formControlName="mobileNumber" maxlength="10"
                     onkeypress="return event.keyCode === 8 || event.charCode >= 48 && event.charCode <= 57 && this.value.length < 16"
                     min="0" step="1"
                     [class.is-invalid]="f.mobileNumber.invalid && f.mobileNumber.touched"/>
              <div class="input-group-append col-4 col-md-3 px-0 country_code_flag">
                <span class="flag-icon mx-2 flag-icon-{{selectedCountry}} flag-icon-selected"></span>
                <input id="typeahead-template" type="text" class="form-control arrow_icon" [ngbTypeahead]="search"
                       [resultTemplate]="rt" [inputFormatter]="formatter" [resultFormatter]="formatter"
                       formControlName="countryCode" (selectItem)="selectedItem($event)" #instance="ngbTypeahead"/>
              </div>
            </div>

            <div *ngIf="f.mobileNumber.errors && f.mobileNumber.touched" style="color:#dc3545">
              <div *ngIf="f.mobileNumber.errors.required"> {{'general.field_validation_required' | translate}} </div>
              <div *ngIf="f.mobileNumber.errors.pattern">{{'general.field_validation_pattern' | translate}}</div>
              <div *ngIf="f.mobileNumber.errors.invalid">{{'general.field_validation_pattern' | translate}}</div>
            </div>
          </div>
        </div>

        <div class="form-group form-row">
          <div class="col-md-4 col-sm-12 mb-4 mb-md-0">
            <label>   {{"general.email"|translate}} </label>
            <input type="text" class="form-control" formControlName="email" maxlength="50"
                   [class.is-invalid]="f.email.invalid && f.email.touched"/>
            <div *ngIf="f.email.invalid && f.email.touched" class="invalid-feedback">
              <div *ngIf="f.email.errors.required">{{'general.field_validation_required' | translate}}</div>
              <div
                *ngIf="f.email.invalid &&!f.email.errors?.required">{{'general.field_validation_pattern' | translate}}</div>
            </div>
          </div>
          <div class="col-md-4 col-sm-12 mb-4 mb-md-0">
            <label>{{"general.password"|translate}}</label>
            <input type="password" formControlName="password"
                   [ngClass]="{'is-invalid': f.password.errors && f.password.touched}" class="form-control"/>

            <div *ngIf="f.password.errors && f.password.touched" class="text-danger">
              <div *ngIf="f.password.errors.required">
                {{ "general.field_validation_required" | translate }}
              </div>
              <div *ngIf="f.password.errors.minlength">
                {{
                "general.field_validation_min_length" | translate: {minLength: 8}
                }}
              </div>
              <div *ngIf="f.password.errors.maxlength">
                {{
                "general.field_validation_max_length" | translate: {maxLength: 16}
                }}
              </div>
              <div *ngIf="f.password.errors.invalid">
                {{ f.password.errors["invalid"] | translate }}
              </div>
            </div>
          </div>


          <div class="col-md-4 col-sm-12 mb-4 mb-md-0">
            <label>{{"general.confirm_password"|translate}}</label>
            <input type="password" formControlName="confirmPassword"
                   [ngClass]="{'is-invalid':  (f.confirmPassword.errors && f.confirmPassword.touched) ||
                        (registerForm.errors?.mismatch &&(f.password.dirty && f.confirmPassword.touched))}"
                   class="form-control"/>
            <div *ngIf="f.confirmPassword.errors && f.confirmPassword.touched" class="text-danger">
              <div *ngIf="f.confirmPassword.errors.required">
                {{ "general.field_validation_required" | translate }}
              </div>
              <div *ngIf="f.confirmPassword.errors.minlength">
                {{
                "general.field_validation_min_length" | translate: {minLength: 8}
                }}
              </div>
              <div *ngIf="f.confirmPassword.errors.maxlength">
                {{
                "general.field_validation_max_length" | translate: {maxLength: 16}
                }}
              </div>

              <div *ngIf="f.confirmPassword.errors.invalid">
                {{ f.confirmPassword.errors["invalid"] | translate }}
              </div>

            </div>

            <div
              *ngIf=" registerForm.errors?.mismatch && (f.confirmPassword.touched ) &&!f.confirmPassword.errors?.required"
              class="text-danger">
              {{"general.confirm_password_mismatch"|translate}}
            </div>
          </div>


        </div>
      </div>
      <div class="d-flex flex-column-reverse flex-md-row justify-content-between my-3">
        <a class="d-block w_full text-center text-md-left" (click)="goBack()" href="javascript:void(0);">
          <svg-icon styleClass="ml-4 mr-2 flip" icon="arrow-right"></svg-icon>
          <span class="mx-2 px-1">{{ "general.btn_back" | translate }}</span>
        </a>

        <button [ngClass]="{ 'visibility_show': isApplicantVerified , 'visibility_hide': !isApplicantVerified }"
                class="btn btn-dcc-primary w_full">
          {{"general.register_user"|translate}}
        </button>
      </div>
    </div>
  </form>


</div>

