<div class="row">
  <div class="col-md-12">

    <div class="col-md-12 login__box m-2">
      <div class="login-box__wrapper text-center">
        <h3 class="text-dcc-primary font-weight-bold mb-3">Staff App will be launched Soon</h3>
        <h3 class="text-dcc-primary font-weight-bold mb-4 pb-4">سيتم إطلاق تطبيق الحج للعاملين قريبًا</h3>
        <img src="assets/images/staff-phone.png">
      </div>
    </div>

  </div>
</div>

<a href="https://apps.apple.com/sa/app/%D8%AA%D8%B7%D8%A8%D9%8A%D9%82-%D8%A7%D9%84%D8%AD%D8%AC-%D8%A7%D9%84%D8%B9%D8%A7%D9%85%D9%84%D9%88%D9%86/id1626273181" target="_self" #appleLink></a>
<a href="https://play.google.com/store/apps/details?id=com.elm.shaaer.staff.mobile" target="_self" #googleLink></a>
