<section>
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
    <div class="form-group col">
      <label class="col-form-label">{{'card-management.company_number' | translate}}</label>
      <span class="form-control-plaintext ">{{applicantPackage?.companyLite?.code}}</span>
    </div>
    <div class="form-group col">
      <label class="col-form-label">{{'card-management.company_name' | translate}}</label>
      <span class="form-control-plaintext ">{{currentLanguage.startsWith("en")? applicantPackage?.companyLite?.labelEn : applicantPackage?.companyLite?.labelAr}}</span>
    </div>
    <div class="form-group col">
      <label class="col-form-label">{{'card-management.package_type' | translate}}</label>
      <span class="form-control-plaintext ">
                {{
        applicantPackage?.applicantPackageHousings[0]?.packageHousing?.ritualPackage?.typeCode
          ? lookupService().localizedLabel(
          packageTypes,
          applicantPackage?.applicantPackageHousings[0]?.packageHousing?.ritualPackage?.typeCode
          )
          : ''
        }}
                </span>
    </div>
    <div class="form-group col">
      <label class="col-form-label">{{'card-management.camp_class' | translate}}</label>
      <span class="form-control-plaintext ">
                {{
        applicantPackage?.applicantPackageHousings[0]?.packageHousing?.categoryCode
          ? lookupService().localizedLabel(
          housingCategories,
          applicantPackage?.applicantPackageHousings[0]?.packageHousing?.categoryCode
          )
          : ''
        }}
                </span>
    </div>
    <div class="form-group col">
      <label class="col-form-label">{{'card-management.company_contact_number' | translate}}</label>
      <span class="form-control-plaintext ">{{applicantPackage?.companyLite?.contactNumber}}</span>
    </div>
    <div class="form-group col">
      <label class="col-form-label">{{'card-management.housing_included' | translate}}</label>
      <span class="form-control-plaintext ">{{(applicantPackage?.applicantPackageHousings.length>0? 'card-management.yes' : 'card-management.no') | translate}}</span>
    </div>
    <div class="form-group col">
      <label class="col-form-label">{{'card-management.transportation_included' | translate}}</label>
      <span class="form-control-plaintext ">{{(applicantPackage?.applicantPackageTransportations.length>0? 'card-management.yes' : 'card-management.no') | translate}}</span>
    </div>
    <div class="form-group col">
      <label class="col-form-label">{{'card-management.catering_included' | translate}}</label>
      <span class="form-control-plaintext ">{{(applicantPackage?.applicantPackageCaterings.length>0? 'card-management.yes' : 'card-management.no') | translate}}</span>
    </div>
  </div>
</section>
<hr class="my-4 w-100">
<section *ngIf="applicantPackage?.applicantPackageHousings?.length > 0">
  <span class="form-control-plaintext ">{{ 'card-management.housing_locations' | translate }}</span>

  <div class="table-responsive my-4">
    <table class="table table-striped table-hover">
      <thead>
      <tr>
         <th scope="col">{{'card-management.location_type' | translate}}</th>
        <th scope="col">{{'card-management.location_name' | translate}}</th>
        <th scope="col">{{'card-management.location_address' | translate}}</th>
        <th scope="col">{{'card-management.start_date' | translate}}</th>
        <th scope="col">{{'card-management.end_date' | translate}}</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let housing of applicantPackage?.applicantPackageHousings">
        <td class="">  {{
          housing?.packageHousing?.typeCode
            ? lookupService().localizedLabel(
            housingTypes,
            housing?.packageHousing?.typeCode
            )
            : ''
          }} <span *ngIf="housing?.packageHousing?.default == true"
                   class="border p-1 rounded bg-light text-dark">{{'card-management.main' | translate}}</span></td>

        <td
          class="ltr">{{ currentLanguage.startsWith("en") ? housing?.packageHousing?.locationNameEn : housing?.packageHousing?.locationNameAr}}</td>
        <td
          class="ltr">{{ currentLanguage.startsWith("en") ? housing?.packageHousing?.addressEn : housing?.packageHousing?.addressAr}}</td>
        <td class="ltr">{{ housing?.packageHousing?.validityStart | gregorianDateFormat }}</td>
        <td class="ltr">{{housing?.packageHousing?.validityEnd | gregorianDateFormat}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</section>

<hr class="my-4 w-100">
<section *ngIf="applicantPackage?.applicantPackageCaterings.length > 0">
  <span class="form-control-plaintext ">{{ 'card-management.available_catering' | translate }}</span>

  <div class="table-responsive my-4">
    <table class="table table-striped table-hover">
      <thead>
      <tr>
        <th scope="col">{{'card-management.catering_type' | translate}}</th>
        <th scope="col">{{'card-management.catering_description' | translate}}</th>
        <th scope="col">{{'card-management.catering_time' | translate}}</th>
        <th scope="col">{{'card-management.catering_location' | translate}}</th>
        <th scope="col">{{'card-management.location_name' | translate}}</th>

      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let catering of applicantPackage?.applicantPackageCaterings">
        <td class="ltr">{{ 'card-management.'+catering?.packageCatering?.type | translate}}</td>
        <td class="ltr">{{ currentLanguage.startsWith("en")? catering?.packageCatering?.descriptionEn : catering?.packageCatering?.descriptionAr }}</td>
        <td>
          {{removeSeconds(catering?.packageCatering?.mealTime)}}
          {{'card-management.from' | translate}}
          {{ catering?.packageCatering?.packageHousing?.validityStart |gregorianDateFormat  }}
          {{'card-management.to' | translate}}
          {{ catering?.packageCatering?.packageHousing?.validityStart | gregorianDateFormat }}

        </td>
        <td class="ltr">
          {{
          catering?.packageCatering?.packageHousing?.siteCode
            ? lookupService().localizedLabel(
            housingSites,
            catering?.packageCatering?.packageHousing?.siteCode
            )
            : ''
          }}
        </td>
        <td class="ltr">
          {{ currentLanguage.startsWith("en")? catering?.packageCatering?.packageHousing?.locationNameEn : catering?.packageCatering?.packageHousing?.locationNameAr}}
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</section>

<hr class="my-4 w-100">
<section *ngIf="applicantPackage?.applicantPackageTransportations.length > 0">
  <span class="form-control-plaintext ">{{ 'card-management.transportation_method' | translate }}</span>

  <div class="table-responsive my-4">
    <table class="table table-striped table-hover">
      <thead>
      <tr>
        <th scope="col">{{'card-management.transportation_type' | translate}}</th>
        <th scope="col">{{'card-management.transportation_time' | translate}}</th>
        <th scope="col">{{'card-management.from_location' | translate}}</th>
        <th scope="col">{{'card-management.to_location' | translate}}</th>
        <th scope="col">{{'card-management.vehicle_number' | translate}}</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let transportation of applicantPackage?.applicantPackageTransportations">
        <td class="ltr">
          {{
          transportation?.packageTransportation?.typeCode
            ? lookupService().localizedLabel(
            transportationTypes,
            transportation?.packageTransportation?.typeCode
            )
            : ''
          }}
        </td>
        <td
          class="ltr">{{ transportation?.packageTransportation?.validityStart| gregorianDateFormat}}
          -- {{transportation?.packageTransportation?.validityEnd |gregorianDateFormat  }}</td>
        <td
          class="ltr">{{ currentLanguage.startsWith("en") ? transportation?.packageTransportation?.locationFromNameEn : transportation?.packageTransportation?.locationFromNameAr}}</td>
        <td
          class="ltr">{{ currentLanguage.startsWith("en") ? transportation?.packageTransportation?.locationToNameEn : transportation?.packageTransportation?.locationToNameAr }}</td>
        <td class="ltr">{{ transportation.vehicleNumber }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</section>
