<h3 class="mb-3 mt-4 text-dcc-primary">بيانات التسجيل</h3>

<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
    <div class="form-group col">
        <label class="col-form-label">رقم الهوية</label>
        <input type="text" class="form-control" value="448545345" disabled>
    </div>
    <div class="form-group col">
        <label class="col-form-label">تاريخ الميلاد</label>
        <input type="text" class="form-control" value="1992/01/12" disabled>
    </div>
    <div class="form-group col">
        <label class="col-form-label">رقم الجوال</label>
        <input type="text" class="form-control" value="0501684966">
    </div>
    <div class="form-group col">
        <label class="col-form-label">البريد الإلكتروني</label>
        <input type="text" class="form-control" value="Omar@gmail.com">
    </div>
</div>

<h3 class="mb-3 mt-6 text-dcc-primary">البيانات الشخصية</h3>

<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
    <div class="form-group col">
        <label class="col-form-label">الاسم</label>
        <input type="text" class="form-control" value=" عمر محمد علي الخالد" disabled>
    </div>
    <div class="form-group col">
        <label class="col-form-label">الجنسية</label>
        <input type="text" class="form-control" value="سعودي" disabled>
    </div>
    <div class="form-group col">
        <label class="col-form-label">الجنس</label>
        <input type="text" class="form-control" value=" ذكر" disabled>
    </div>
    <div class="form-group col">
        <label class="col-form-label">الحالة الاجتماعية</label>
        <div>
            <div class="custom-control custom-radio custom-control-inline mr-5">
                <input type="radio" id="customRadioInline1" name="customRadioInline1" class="custom-control-input">
                <label class="custom-control-label" for="customRadioInline1">أعزب</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline mr-5">
                <input type="radio" id="customRadioInline2" name="customRadioInline1" class="custom-control-input" checked>
                <label class="custom-control-label" for="customRadioInline2">متزوج</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline mr-5">
                <input type="radio" id="customRadioInline3" name="customRadioInline1" class="custom-control-input">
                <label class="custom-control-label" for="customRadioInline3">مطلق</label>
            </div>
        </div>
    </div>
    <div class="form-group col">
        <label class="col-form-label">الحالة الوظيفية</label>
        <div>
            <div class="custom-control custom-radio custom-control-inline mr-5">
                <input type="radio" id="customRadioInline4" name="customRadioInline4" class="custom-control-input">
                <label class="custom-control-label" for="customRadioInline4">موظف</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline mr-5">
                <input type="radio" id="customRadioInline5" name="customRadioInline5" class="custom-control-input" checked>
                <label class="custom-control-label" for="customRadioInline5">عاطل</label>
            </div>
        </div>
    </div>
    <div class="form-group col">
        <label class="col-form-label">الحالة التعليمية</label>
        <input type="text" class="form-control"> 
    </div>
    <div class="form-group col">
        <label class="col-form-label">القدرة على العمل</label>
        <select class="custom-select">
            <option selected value="1">قادر</option>
            <option value="2">غير قادر</option>
        </select>
      
    </div>
</div>