<div class="flex-center-between">
    <h3 class="mb-3 mt-4 text-dcc-primary">بيانات التابعين</h3>
    <button type="button" class="btn btn-outline-dcc-primary px-4" (click)="openDisciples()"> إضافة تابع </button>
</div>

<div class="table-responsive">
    <table class="table table-striped table-hover">
        <thead>
            <tr class="text-nowrap">
                <th scope="col">رقم الهوية</th>
                <th scope="col">اسم التابع</th>
                <th scope="col">تاريخ الميلاد</th>
                <th scope="col">الجنسية</th>
                <th scope="col">الجنس</th>
                <th scope="col">حالة الحياة</th>
                <th scope="col">الحالة الاجتماعية</th>
                <th scope="col">الاجراءات</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>8382832352</td>
                <td class="text-nowrap">
                    <b class="text-body">عمر محمد علي يونس</b>
                    <small class="swatch-200 ml-2 px-2 rounded"> أب </small>
                </td>
                <td>2019/02/12</td>
                <td>سعودي</td>
                <td>ذكر</td>
                <td>متوفى</td>
                <td>متزوج</td>
                <td>
                    <a href="javascript:void(0)"
                        ><svg-icon styleClass="text-body h3" icon="edit"></svg-icon>
                    </a>
                </td>
            </tr>
            <tr>
                <td>8382832352</td>
                <td class="text-nowrap" class="text-nowrap">
                    <b class="text-body">عمر محمد علي يونس</b>
                    <small class="swatch-200 ml-2 px-2 rounded"> أخ </small>
                </td>
                <td>2019/02/12</td>
                <td>سعودي</td>
                <td>ذكر</td>
                <td>على قيد الحياة</td>
                <td>متزوج</td>
                <td>
                    <a href="javascript:void(0)"
                        ><svg-icon styleClass="text-body h3" icon="edit"></svg-icon>
                    </a>
                </td>
            </tr>
            <tr>
                <td>8382832352</td>
                <td class="text-nowrap">
                    <b class="text-body">عمر محمد علي يونس</b>
                    <small class="swatch-200 ml-2 px-2 rounded"> أب </small>
                </td>
                <td>2019/02/12</td>
                <td>سعودي</td>
                <td>ذكر</td>
                <td>على قيد الحياة</td>
                <td>أعزب</td>
                <td>
                    <a href="javascript:void(0)"
                        ><svg-icon styleClass="text-body h3" icon="edit"></svg-icon>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="flex-center-between">
    <h3 class="mb-3 mt-6 text-dcc-primary">بيانات الموكلين</h3>
    <button
        type="button"
        class="btn btn-outline-dcc-primary px-4"
        (click)="openDisciples()"
    >
        إضافة موكل
    </button>
</div>

<div class="table-responsive">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">رقم الهوية</th>
                <th scope="col">اسم التابع</th>
                <th scope="col">تاريخ الميلاد</th>
                <th scope="col">الجنسية</th>
                <th scope="col">الجنس</th>
                <th scope="col">حالة الحياة</th>
                <th scope="col">الحالة الاجتماعية</th>
                <th scope="col">الاجراءات</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>8382832352</td>
                <td class="text-nowrap">
                    <b class="text-body">عمر محمد علي يونس</b>
                    <small class="swatch-200 ml-2 px-2 rounded"> أب </small>
                </td>
                <td>2019/02/12</td>
                <td>سعودي</td>
                <td>ذكر</td>
                <td>متوفى</td>
                <td>متزوج</td>
                <td>
                    <a href="javascript:void(0)"
                        ><svg-icon styleClass="text-body h3" icon="edit"></svg-icon>
                    </a>
                </td>
            </tr>
            <tr>
                <td>8382832352</td>
                <td class="text-nowrap">
                    <b class="text-body">عمر محمد علي يونس</b>
                    <small class="swatch-200 ml-2 px-2 rounded"> أخ </small>
                </td>
                <td>2019/02/12</td>
                <td>سعودي</td>
                <td>ذكر</td>
                <td>على قيد الحياة</td>
                <td>متزوج</td>
                <td>
                    <a href="javascript:void(0)"
                        ><svg-icon styleClass="text-body h3" icon="edit"></svg-icon>
                    </a>
                </td>
            </tr>
            <tr>
                <td>8382832352</td>
                <td class="text-nowrap">
                    <b class="text-body">عمر محمد علي يونس</b>
                    <small class="swatch-200 ml-2 px-2 rounded"> أب </small>
                </td>
                <td>2019/02/12</td>
                <td>سعودي</td>
                <td>ذكر</td>
                <td>على قيد الحياة</td>
                <td>أعزب</td>
                <td>
                    <a href="javascript:void(0)"
                        ><svg-icon styleClass="text-body h3" icon="edit"></svg-icon>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
