@import "animation";
@import "variables";
@import "mixins";
.rituals_steps {
    overflow: hidden;
    .rituals_steps_date {
        color: #666666;
    }
    .rituals_steps_item {
        background-color: #f9faf8;
    }
    .collapsed .rituals_steps_item {
        background-color: #fff;
    }
    .rituals_steps_item .rituals_steps_item_circle {
        width: 45px;
        height: 45px;
        background: #f1f4f0;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        svg.fa-w-14 {
            font-size: 1.25rem !important;
        }
        &.active_step {
            background: #3b7937;
        }
        &.done_step {
            border: 1px solid #3b7937;
        }
    }
    .rituals_steps_item {
        border-top: 1px solid #eaeaea;
        padding-bottom: 1rem !important;
        padding-top: 1.25rem !important;
    }
    .rituals_steps_title {
        color: #000;
        margin-bottom: 0.8rem;
        font-size: 1.15rem;
    }
    .rituals_steps_details {
        .card-body {
            min-height: 564px;
            transition: all 1s ease-out;
        }
        p {
            color: #000;
        }
        ul {
            list-style: none;
            /* Remove default bullets */
        }
        ul li::before {
            content: "-";
            /* Add content: \2022 is the CSS Code/unicode for a bullet */
            color: #666666;
            /* Change the color */
            font-weight: bold;
            /* If you want it to be bold */
            display: inline-block;
            /* Needed to add space between the bullet and the text */
            width: 1em;
            /* Also needed for space (tweak if needed) */
        }
        ul li {
            margin-bottom: 1.2rem;
        }
    }
}

.map-c {
    min-height: 644px;
    @include media-breakpoint-down(sm) {
        min-height: 352px;
    }
}

.haj-map {
    width: 100%;
    height: 100%;
    .map-container {
        width: 100% !important;
        height: 100% !important;
    }
}

.light-primary {
    color: #bac7b3;
}

.rituals_steps_hide {
    position: absolute;
    top: -100%;
    transition: all 4s ease-in-out;
}

.rituals_steps_default {
    height: auto;
    position: relative;
    will-change: transform;
    transition: all 2s ease-in-out;
}

.collapsing {
    transition: height 0.6s ease-in-out;
}

//animation //
@for $i from 0 through 10 {
    .stargger-animation:nth-child(#{$i + 1}) {
        .rituals_steps_item {
            @extend .animated;
            @extend .fadeInRight;
            animation-delay: 0s + ($i * 0.15);
            animation-duration: 0.4s;
        }
        .rituals_steps_item_circle.active_step {
            @extend .animated;
            @extend .scaleUpSm;
            animation-delay: 0.2s + ($i * 0.2);
            animation-duration: 0.4s;
        }
    }
}