<div class="content__wrapper">
  <nav aria-label="breadcrumb" class="pt-2">
    <ol class="breadcrumb bg-white mb-0 px-0 d-none d-md-flex">
      <li class="breadcrumb-item active" aria-current="page"></li>
    </ol>
  </nav>

  <div class="title__Page">
    <h3 class="sectionTitle">
      {{ "notification-management.title" | translate }}
    </h3>
  </div>

  <ul ngbNav #nav="ngbNav" class="nav-tabs" [(activeId)]="activeId">
    <li [ngbNavItem]="1">
      <a class="py-3 px-4" ngbNavLink><b>{{"notification-management.private_notifications" | translate}}
        ({{getPrivateNotifications()?.length}})</b></a>
      <ng-template ngbNavContent>

        <!--Private notifications-->
        <app-notification-list [notifications]="getPrivateNotifications()"></app-notification-list>

      </ng-template>
    </li>
    <li [ngbNavItem]="2">
      <a class="py-3 px-4" ngbNavLink><b>{{"notification-management.public_notifications" | translate}}
        ({{getPublicNotifications()?.length}})</b></a>
      <ng-template ngbNavContent>

        <!--Public notifications-->
        <app-notification-list [notifications]="getPublicNotifications()"></app-notification-list>

      </ng-template>
    </li>
    <li [ngbNavItem]="3">
      <a class="py-3 px-4" ngbNavLink><b>{{"notification-management.view_all" | translate}}</b>
        <svg-icon styleClass="fa-w-16 ml-2" icon="ballot"></svg-icon>
      </a>
      <ng-template ngbNavContent>
        <!--All notifications-->
        <app-notification-list [notifications]="notifications"></app-notification-list>
      </ng-template>
    </li>
  </ul>
  <div [ngbNavOutlet]="nav" class="mt-2"></div>
</div>
