@import 'src/assets/scss/mixins';

.hijriInput {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}



.ngb-dp-weekday{
  color: #666;
}


.ngb-dp-week  .btn-light.bg-primary {
  background-color: #2a5627 !important;
}

.btn-light {

  font-weight: normal!important;
}
