
<div class="login__box ">
  <div class="text-center">
    <img class="my-4" src="../../../../assets/images/logo.png" alt="logo"/>
  </div>

  <form class="login-box__wrapper">

    <h1 class="text-center text-dcc-primary font-weight-bold mb-4 h3">
      {{ "user had been registered successfully" |translate}}
    </h1>

    <div class="text-center text-secondary mt-5">
      {{ "user had been registered successfully" |translate}}
    </div>

    <div class="text-center">
      <button class="btn btn-outline-dcc-primary px-5 w_full"
              (click)="goBack()">
        {{ "login.btn_login"| translate }}
      </button>

    </div>

  </form>
</div>

