<div class="login__box pb-md-7 animated fadeInUp delay1">

  <div class="text-center">
    <div class="my-5">

      <div class="border border-dcc-primary rounded-circle check-img-border ">
        <svg-icon class="success-icon" styleClass="fa-w-21 text-dcc-primary mb-0" icon="check-light"></svg-icon>

      </div>

      <h2 class="text-dcc-primary mt-5 mb-3 h4 Elm-fontb ">{{ "register.registered_successfully"| translate }} </h2>
      <p class="mb-4 h6">{{ "register.email_will_be_sent"| translate }} </p>
    </div>

    <div class="my-6">
      <button (click)="goBack()" class="btn btn-dcc-primary px-5"> {{ "login.btn_login"| translate }}</button>
    </div>
  </div>


</div>


