
  <section class="border detailSection py-3 ">

      <div class="dash-b px-4 pb-3 mb-3">
        <span class="h5 font-weight-bold text-dcc-primary mr-3">{{'2145'}}</span>
        <span>{{'printing-management.smart_cards_for_print' | translate }}</span>
      </div>

    
      <div class="px-4 d-flex">
        <label class="text-nowrap col-form-label mr-5">{{'printing-management.batch_collecting_method' | translate }}</label>
        <div class="form-control-plaintext text-dcc-primary">
          
          <div class="custom-control custom-checkbox custom-control-inline">
            <input type="checkbox" class="custom-control-input" id="customCheck-01">
            <label class="custom-control-label mx-3" for="customCheck-01">{{'printing-management.hamlah' | translate}}</label>
          </div>
          <div class="custom-control custom-checkbox custom-control-inline">
            <input type="checkbox" class="custom-control-input" id="customCheck-02">
            <label class="custom-control-label mx-3" for="customCheck-02">{{'card-management.tafweej_number' | translate}}</label>
          </div>
          <div class="custom-control custom-checkbox custom-control-inline">
            <input type="checkbox" class="custom-control-input" id="customCheck-03">
            <label class="custom-control-label mx-3" for="customCheck-03">{{'card-management.nationality' | translate}}</label>
          </div>
          <div class="custom-control custom-checkbox custom-control-inline">
            <input type="checkbox" class="custom-control-input" id="customCheck-04">
            <label class="custom-control-label mx-3" for="customCheck-04">{{'card-management.motawef' | translate}}</label>
          </div>

        </div>
      </div>

  </section>

  <div class="table-responsive my-4">
    <table class="table table-striped table-hover">
      <thead>
      <tr>
        <th scope="col">{{'card-management.applicant_name' | translate}}</th>
        <th scope="col">{{'card-management.applicant_id' | translate}}</th>
        <th scope="col">{{'card-management.card_number' | translate}}</th>
        <th scope="col">{{'card-management.passport_number' | translate}}</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngIf="false" class="text-center">
        <td colspan="10">
          <svg-icon styleClass="display-1 text-dcc-light" icon="empty-set" ></svg-icon>
          <p class="text-light-gray mb-3">{{ "general.table_emtpy_text" | translate }}</p>
        </td>
      </tr>
      <tr>
        <td>{{'أحمد محمد العنزي'}} {{'Ahmad Moh Alanizy'}}</td>
        <td>{{'1021457854'}}</td>
        <td class="ltr">{{'3215417'}}</td>
        <td class="ltr">{{'8U6321'}}</td>
      </tr>
      <tr>
        <td>{{'حمدي حمد الأحمدي'}} {{'Hamdi Hamad Alahmadi'}}</td>
        <td>{{'1021457854'}}</td>
        <td class="ltr">{{'3215417'}}</td>
        <td class="ltr">{{'8U6321'}}</td>
      </tr>
      </tbody>
    </table>
  </div>
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      <li class="page-item" [class.disabled]="false">
        <a class="page-link" tabindex="-1">{{'general.nav_first' | translate}}</a>
      </li>

      <li class="page-item" [class.disabled]="false">
        <a class="page-link" tabindex="-1">{{'general.nav_previous' | translate}}</a>
      </li>
      <li class="page-item active">
        <a class="page-link">{{2 + ' / ' + 5}}</a>
      </li>
      <li class="page-item" [class.disabled]="false">
        <a class="page-link">{{'general.nav_next' | translate}}</a>
      </li>

      <li class="page-item" [class.disabled]="false">
        <a class="page-link">{{'general.nav_last' | translate}}</a>
      </li>
    </ul>
  </nav>

