<section>
            <span
              class="form-control-plaintext ">{{ 'card-management.tafweej_details' | translate }}
              (  {{companyRitualSteps[0]?.referenceNumber}}) </span>

  <div class="table-responsive my-4">
    <table class="table table-striped table-hover">
      <thead>
      <tr>
        <th scope="col">{{'card-management.tafweej_step' | translate}}</th>
        <th scope="col">{{'card-management.from_location' | translate}}</th>
        <th scope="col">{{'card-management.to_location' | translate}}</th>
        <th scope="col">{{'card-management.start_date' | translate}}</th>
        <th scope="col">{{'card-management.end_date' | translate}}</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of companyRitualSteps; let i=index">
        <td class="ltr">{{lookupService().localizedLabel(ritualStepsLabels, item?.stepCode)}}</td>
        <td class="ltr"
            *ngIf="i==0">{{currentLanguage.startsWith('ar') ? item?.locationNameAr : item.locationNameEn}}</td>
        <td class="ltr"
            *ngIf="i>0">{{currentLanguage.startsWith('ar') ? companyRitualSteps[i - 1]?.locationNameAr : companyRitualSteps[i - 1]?.locationNameEn}}</td>
        <td class="ltr">{{currentLanguage.startsWith('ar') ? item?.locationNameAr : item.locationNameEn}}</td>
        <td
          class="ltr">{{item?.time | gregorianDateFormat }}</td>
        <td class="ltr"
            *ngIf="i<companyRitualSteps.length-1">{{companyRitualSteps[i + 1]?.time | gregorianDateFormat}}</td>
        <td class="ltr"
            *ngIf="i==companyRitualSteps.length-1">{{item?.time | gregorianDateFormat }}</td>
      </tr>

      </tbody>
    </table>
  </div>
</section>
