<nav aria-label="breadcrumb" class="pt-2">
  <ol class="breadcrumb bg-white mb-0 px-0 d-none d-md-flex">
    <li class="breadcrumb-item active" aria-current="page ">{{ "haj-journey.home" | translate }}</li>
    <li class="breadcrumb-item active" aria-current="page "></li>
  </ol>
</nav>

<div class="title__Page justify-content-start d-flex flex-column flex-md-row mt-md-1">
  <h3 class="sectionTitle">{{ "haj-journey.title" | translate }}</h3>
  <div class="col-12 col-lg-2 col-md-3 mx-md-3 mt-md-0 mt-4">
    <p>{{ritualType ? lookupService.localizedLabel(ritualTypesLookups, ritualType) : ''}} </p>
  </div>
</div>

<div class="tl-list mt-6 mx-md-n5">
  <div *ngFor="let step of ritualStepsMap" class="tl-list-item stargger-animation">
    <span class="circle" [ngClass]="{ active: step.isActive }"></span>

    <div class="tl-list-details">
      <div class="tl-d">
        <div class="pl-2 pl-md-0 row align-items-start">
          <h4 class="h6 mb-3 col-12 col-md-2">{{ step.day }} {{ ("hijri-months." + step.month) | translate}}</h4>
          <div class="col-12 col-md-7 col-lg-8 d-flex flex-column">
            <div class="row mb-2 mb-md-0" *ngFor="let internalStep of step.value">
              <div class="col-12 col-md-6">
                <p>
                  {{ lookupService.localizedDescription(ritualStepsLookups, internalStep?.stepCode)}}

                </p>
              </div>
              <div class="col-12 col-md-6">
                <p class="Elm-fontb">
                  {{ lookupService.localizedLabel(ritualStepsLookups, internalStep?.stepCode)}}
                </p>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-2 col-md-3 text-md-center view_action_hide">
            <a class="btn btn-outline-dcc-primary"
               routerLink="/hajj-journey/details">{{ "haj-journey.view-daily-activities" | translate }}</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
