  <div class="dashes p-3">
    <span>
      {{'printing-management.no_batches' | translate }}
      <span class="h5 font-weight-bold text-dcc-primary mx-3">{{'5'}}</span>
    </span>
    <span>
      {{'printing-management.contains' | translate}}
      <span class="h5 font-weight-bold text-dcc-primary mx-3">{{'5784'}}</span>
      {{'printing-management.cards' | translate}}
    </span>
  </div>


  <div class="table-responsive my-4">
    <table class="table table-striped table-hover">
      <thead>
      <tr>
        <th scope="col">{{'card-management.applicant_name' | translate}}</th>
        <th scope="col">{{'card-management.applicant_id' | translate}}</th>
        <th scope="col">{{'card-management.card_number' | translate}}</th>
        <th scope="col">{{'card-management.passport_number' | translate}}</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngIf="false" class="text-center">
        <td colspan="10">
          <svg-icon styleClass="display-1 text-dcc-light" icon="empty-set" ></svg-icon>
          <p class="text-light-gray mb-3">{{ "general.table_emtpy_text" | translate }}</p>
        </td>
      </tr>

      <th style="font-size: larger">
        {{'printing-management.batch_no' | translate}} {{'1'}} {{'printing-management.contains' | translate}} {{'520'}} {{'printing-management.cards' | translate}}
      </th>
      <tr>
        <td><a [routerLink]="['/cards/details/1']" class="text-dcc-primary font-weight-bold">{{'زبير عبد المجيد خان'}} {{'Zubair Abd Almajid Khan'}}</a></td>
        <td>{{'5'}}</td>
        <td class="ltr">{{'2367430624'}}</td>
        <td class="ltr">{{'541285'}}</td>
        <td class="ltr">{{'5O85X8'}}</td>
      </tr>
      <tr>
        <td><a [routerLink]="['/cards/details/1']" class="text-dcc-primary font-weight-bold">{{'فاطمة زبير عبد المجيد خان'}} {{'Fatima Zubair Abd Almajid Khan'}}</a></td>
        <td>{{'5'}}</td>
        <td class="ltr">{{'2367430426'}}</td>
        <td class="ltr">{{'541582'}}</td>
        <td class="ltr">{{'5O8Y84'}}</td>
      </tr>

      <th style="font-size: larger">
        {{'printing-management.batch_no' | translate}} {{'2'}} {{'printing-management.contains' | translate}} {{'2125'}} {{'printing-management.cards' | translate}}
      </th>
      <tr>
        <td><a [routerLink]="['/cards/details/1']" class="text-dcc-primary font-weight-bold">{{'محمد سليم أحمد'}} {{'Moh Salim Ahmad'}}</a></td>
        <td>{{'5'}}</td>
        <td class="ltr">{{'2367430624'}}</td>
        <td class="ltr">{{'541285'}}</td>
        <td class="ltr">{{'5O85X8'}}</td>
      </tr>
      <tr>
        <td><a [routerLink]="['/cards/details/1']" class="text-dcc-primary font-weight-bold">{{'عبد الرزاق البدر'}} {{'Abd Alrazzaq Albadr'}}</a></td>
        <td>{{'5'}}</td>
        <td class="ltr">{{'2367430426'}}</td>
        <td class="ltr">{{'541582'}}</td>
        <td class="ltr">{{'5O8Y84'}}</td>
      </tr>
      </tbody>
    </table>
  </div>

