@import 'variables';

.pin-input {
  outline: 0 !important;
  border-width: 1px 1px 3px !important;
  
  height: 4.75rem;
  font-size: xx-large;
  font-weight: 400;

  &.ng-valid{
    border-bottom-color: $dcc-primary !important;
  }
}

.otpCol{
  width: 54px;
  margin-right: .5rem;
  margin-left: .5rem;
}