<nav aria-label="Page navigation example" class="mt-4" *ngIf="page?.content">
  <ul class="pagination justify-content-center">
    <li class="page-item" [class.disabled]="page?.first">
      <a class="page-link" href="javascript:void(0);" (click)="loadPage(0)" tabindex="-1">{{'general.nav_first' | translate}}</a>
    </li>
    <li class="page-item" [class.disabled]="page?.first">
      <a class="page-link" href="javascript:void(0);" (click)="loadPage(page?.number-1)" tabindex="-1">{{'general.nav_previous' | translate}}</a>
    </li>
    <li class="page-item active">
      <a class="page-link" href="javascript:void(0);" (click)="loadPage(page.number)">{{(page?.number + 1) + ' / ' + page?.totalPages}}</a>
    </li>
    <li class="page-item" [class.disabled]="page?.last">
      <a class="page-link" href="javascript:void(0);" (click)="loadPage(page?.number+1)">{{'general.nav_next' | translate}}</a>
    </li>
    <li class="page-item" [class.disabled]="page?.last">
      <a class="page-link" href="javascript:void(0);" (click)="loadPage(page?.totalPages-1)">{{'general.nav_last' | translate}}</a>
    </li>
  </ul>
</nav>
