<a href="https://guide.haj.gov.sa" target="_blank">
  <button class="btn btn-outline-dcc-primary px-4" type="button" >{{'general.awareness_url'| translate}}</button>
</a>
<br><br>
<a href="https://www.adahi.org/" target="_blank">
  <button class="btn btn-outline-dcc-primary px-4" type="button">{{'general.adahi_url'| translate}}</button>
</a>
<br><br>
<a href="https://ethrai.com/en/" target="_blank">
  <button class="btn btn-outline-dcc-primary px-4" type="button">{{'general.ethari_url'| translate}}</button>
</a>
<br><br>
<a href="https://ethrai.com/en/" target="_blank">
  <button class="btn btn-outline-dcc-primary px-4" type="button">{{'general.tv_url'| translate}}</button>
</a>
