
<div class="dashes flex-center-column my-5 p-5">
  
  <img class="my-5" src="assets/images/add-cards.jpg" alt='{{ "printing-management.new_request" | translate }}'>

  <button id="addPrintingRequest" class="btn btn-outline-dcc-primary px-4" (click)="openLg(showAdd)">
    {{ "printing-management.new_request" | translate }}
  </button>

</div>


<ng-template #showAdd let-modal>
  <div class="modal-header">
    <h4> {{ "printing-management.title" | translate }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    
    <form class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
      <div class="form-group col">
        <label class="col-form-label">{{'printing-management.id_number' | translate }}</label>
        <input type="text" class="form-control"/>
      </div>
      <div class="form-group col">
        <label class="col-form-label">{{'printing-management.hamlah_number' | translate }}</label>
        <input type="text" class="form-control"/>
      </div>
      <div class="form-group col">
        <label class="col-form-label">{{'printing-management.motawef_number' | translate }}</label>
        <input type="text" class="form-control"/>
      </div>
      <div class="form-group col">
        <label class="col-form-label">{{'card-management.passport_number' | translate }}</label>
        <input type="text" class="form-control"/>
      </div>
      <div class="form-group col">
        <label class="col-form-label">{{'card-management.nationality' | translate }}</label>
        <select class="custom-select">
          <option>{{'سعودية'}}</option>
          <option>{{'مصرية'}}</option>
          <option>{{'تونسية'}}</option>
          <option>{{'هندية'}}</option>
          <option>{{'أردنية'}}</option>
          <option>{{'فلسطينية'}}</option>
        </select>
      </div>
    </form>
    
    <div class="table-responsive my-4">
      <table class="table table-striped table-hover">
        <thead>
        <tr>
          <th scope="col">
            <div class="custom-control custom-checkbox my-2">
              <input type="checkbox" class="custom-control-input" id="customCheck-04">
              <label class="custom-control-label mx-3" for="customCheck-04"></label>
            </div>
          </th>
          <th scope="col">{{'card-management.applicant_name' | translate}}</th>
          <th scope="col">{{'card-management.applicant_id' | translate}}</th>
          <th scope="col">{{'card-management.card_number' | translate}}</th>
          <th scope="col">{{'card-management.passport_number' | translate}}</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngIf="false" class="text-center">
          <td colspan="10">
            <svg-icon styleClass="display-1 text-dcc-light" icon="empty-set" ></svg-icon>
            <p class="text-light-gray mb-3">{{ "general.table_emtpy_text" | translate }}</p>
          </td>
        </tr>
        <tr>
          <td scope="row">
            <div class="custom-control custom-checkbox my-2">
              <input type="checkbox" class="custom-control-input" id="customCheck-04">
              <label class="custom-control-label mx-3" for="customCheck-04"></label>
            </div>
          </td>
          <td>{{'أحمد محمد العنزي'}} {{'Ahmad Moh Alanizy'}}</td>
          <td>{{'1021457854'}}</td>
          <td class="ltr">{{'3215417'}}</td>
          <td class="ltr">{{'8U6321'}}</td>
        </tr>
        <tr>
          <td scope="row">
            <div class="custom-control custom-checkbox my-2">
              <input type="checkbox" class="custom-control-input" id="customCheck-04">
              <label class="custom-control-label mx-3" for="customCheck-04"></label>
            </div>
          </td>
          <td>{{'حمدي حمد الأحمدي'}} {{'Hamdi Hamad Alahmadi'}}</td>
          <td>{{'1021457854'}}</td>
          <td class="ltr">{{'3215417'}}</td>
          <td class="ltr">{{'8U6321'}}</td>
        </tr>
        </tbody>
      </table>
    </div>
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        <li class="page-item" [class.disabled]="false">
          <a class="page-link" tabindex="-1">{{'general.nav_first' | translate}}</a>
        </li>
    
        <li class="page-item" [class.disabled]="false">
          <a class="page-link" tabindex="-1">{{'general.nav_previous' | translate}}</a>
        </li>
        <li class="page-item active">
          <a class="page-link">{{2 + ' / ' + 5}}</a>
        </li>
        <li class="page-item" [class.disabled]="false">
          <a class="page-link">{{'general.nav_next' | translate}}</a>
        </li>
    
        <li class="page-item" [class.disabled]="false">
          <a class="page-link">{{'general.nav_last' | translate}}</a>
        </li>
      </ul>
    </nav>

  </div>
  <div class="modal-footer justify-content-end">
    <button type="submit" class="btn btn-dcc-primary px-5 ml-3">اضافة 254 بطاقة</button>
  </div>
</ng-template>


<div class="dashes flex-center-between py-3 px-4">
  
  <div>
    <span class="h5 font-weight-bold text-dcc-primary mr-3">{{'6214'}}</span>
    <span>{{'printing-management.selected_smart_card' | translate}}</span>
  </div>

  <button id="addPrintingRequest" class="btn btn-outline-dcc-primary px-4" (click)="openLg(showAdd)">
    {{ "printing-management.new_request" | translate }}
  </button>

</div>


