<div class="flex-center-column">
  <img class="my-5" src="assets/images/printer-succes.jpg" alt="Printer Succes">
  
  <div class="text-center">
    <h4 class="text-dcc-primary">{{'printing-management.print_request_done_successfully' | translate }}</h4>
    <span>{{'printing-management.print_request_number' | translate }} <span>{{'3621'}}</span></span>
    
    <div class="dashes p-3 my-3">
      <span>
        {{'printing-management.no_batches' | translate }}
        <span class="h5 font-weight-bold text-dcc-primary mx-3">{{'5'}}</span>
      </span>
      <span>
        {{'printing-management.no_cards' | translate }}
        <span class="h5 font-weight-bold text-dcc-primary mx-3">{{'2451'}}</span>
      </span>
    </div>
  </div>
</div>

<div class="bg-lighter mx-30 p-4 text-center">
  <button type="button" routerLink="/print-requests/details" class="btn btn-outline-dcc-primary rounded-22 px-5 mr-3">{{'printing-management.btn_view_print_request_details' | translate}}</button>
  <button type="button" routerLink="/print-requests/list" class="btn btn-secondary rounded-22 px-5 mr-3">{{'printing-management.btn_back_to_printing_management' | translate}}</button>
</div>