<div class="row">
  <div class="col-md-12">

    <div class="col-md-12 login__box m-2">
      <div class="login-box__wrapper">
        <h3 class="text-dcc-primary font-weight-bold mb-3">{{'product-info.header_title' | translate}}</h3>
        <p class="mb-3 pb-4">
          Hajj Smart Card is an initiative by Ministry of Hajj & Umrah comprising of a Digital Platform designed to significantly improve the journey of pilgrims and enhance their experience during the Hajj. The platform ensures that pilgrims can perform Hajj rituals quickly, efficiently and safely with access to various services at their fingertips via digital channels like Mobile Apps & Web Portals. The platform aims to provide most memorable and spiritual experience to pilgrims during the Hajj.
        </p>
        <p class="mb-3 pb-4">
          Hajj Smart Card initiative also aims at facilitating relevant authorities with capabilities to monitor pilgrimage via digital platform. Thus, increasing the effectiveness of staff to serve pilgrims and offer religious hospitality in compliance with the international standards.
        </p>
        <p class="mb-1 pb-1">
          The main objectives the Hajj Smart Card initiative are:
        </p>
        <ul class="list-group">
          <li class="list-group-item">Delivering high-quality services for the benefit of pilgrims</li>
          <li class="list-group-item">Providing Omni-channel experience to Pilgrims and Authorities for diverse services</li>
          <li class="list-group-item">Offering hajj services with ease and convenience through a combination of human efforts and innovative technologies</li>
          <li class="list-group-item">Ensuring high-quality services delivered to pilgrims</li>
        </ul>
      </div>
    </div>

  </div>
</div>
