<div class="text-center" *ngIf="!groupLeaders">
  <svg-icon styleClass="display-1 text-dcc-light" icon="empty-set"></svg-icon>
  <p class="text-light-gray mb-3">{{ "general.no-data-found" | translate }}</p>
</div>
<div class="table-responsive my-4" *ngIf="groupLeaders">
  <table class="table table-striped table-hover">
    <thead>
    <tr>
      <th scope="col">
        {{ "card-management.morshid_id" | translate }}
      </th>
      <th scope="col">
        {{ "card-management.morshid_name" | translate }}
      </th>
      <th scope="col">
        {{ "card-management.morshid_contact_number" | translate }}
      </th>
      <th scope="col">
        {{ "card-management.morshid_title" | translate }}
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor = "let groupLeader of groupLeaders">
      <td class="ltr">{{ groupLeader.idNumber }}</td>
      <td class="ltr">{{ groupLeader.fullNameAr }}</td>
      <td class="ltr">{{ groupLeader.mobileNumber }}</td>
      <td class="ltr">{{ lookupService.localizedLabel(groupLeaderTitleLookups, groupLeader?.titleCode)}}</td>
    </tr>
    </tbody>
  </table>
</div>
