/*--------------------------------------------*/





.login__box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    
}

.login-box__wrapper {
    position: relative;
    z-index: 2;
    // background-color: #fff;
    border-radius: $border-radius;
    flex-grow: 1;

}

.lang_swtich_login {
    position: relative;
    height: 30px;
    width: 90px;
    @include pt(3);

    select{
        position: absolute;
        border: 0;
        background-color: transparent;
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
    }
    svg-icon{
        position: absolute;
        padding-right: 4px;

        i{
            padding:4px 1px;
        }
    }
}