@import "vendors";
@import "utility";
@import "fonts";
@import "dcc-svg";
html,
body {
    height: 100%;
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
    @include media-breakpoint-up(lg) {
        font-size: 14px;
    }
    @include media-breakpoint-down(md) {
        font-size: 12px;
    }
}

a {
    transition: all 0.2s ease-in;
}

*:focus {
    outline: none;
}

ol,
ul,
dl {
    padding: 0;
    list-style: none;
}

.hidden {
    display: none;
}
#phone:disabled {
  color: #6c757d !important;
  background-color: #d8d8d8 !important;
  font-weight: unset !important;
}

.resetH{
    height: 1px;
    padding-top: 7px;
}


/* Layout ..............................................................................*/

@import "layout";
@import "login";
@import "landing";
@import "pages";
//@import "wizard";
@import "table";
@import "charts";
@import "hamburger-icon";
@import "animation";
@import "time-line";
@import "accordion";
@import "flag";
.min-width-auto {
    min-width: auto;
}


@import '~perfect-scrollbar/css/perfect-scrollbar.css';