.subtitle__Page {
  font-size: 1.1rem;
  color: #000000 !important;
  font-weight: 700;
}

.map {
  width: 100%;
  height: 300px;

  .map-container {
    width: 100% !important;
    height: 100% !important;
  }
}

.attachment {
  color: #3B7937;
}
