$primary-badge-color: hsl(93, 50%, 50%);
.badge_hajj {
    background:url(assets/images/card-top-bg.png) no-repeat;
    width: 424px;
    min-height: 660px;

    .badge_hajj_avatar {
        width: 150px;

        img{
            width: 100%;
            height: auto;
        }
    }

    .badge_hajj_Season{
        background: url(assets/images/haj.jpg) no-repeat center 40px;
        width: 138px;
        padding-top: 155px;
        text-align: center;
    }


    .badge_hajj_name,
    .badge_hajj_country {
        color: #787878;
    }
    .badge_hajj_Program {
        display: inline-flex;
        width: 100%;
        color: #FFF;
        padding-top: 2rem;
        padding-left: 2rem;
    }
    .badge_hajj_Program {
      font-family: "Elm-fontb", sans-serif;
    }
    .badge_hajj_details_card {
        border: 1px solid #e3e2e2;
        border-radius: 8px;
        display: flex;
        margin: 5px 0 0 10px;
        &:last-child {
            margin: 5px 0 0 0;
        }
        h3 {
            color: #787878;
        }
        h3.primary-badge-color {
            color: $primary-badge-color;
        }
        .badge_hajj_details_card_Number {
            border-right: 1px solid #e3e2e2;
        }
    }
}

.badge_hajj-box{
    border: 2px #D5D5DD solid;
    text-align: center;
    border-radius: 0.6rem;

    legend{
        width: auto;
        padding: .5rem;
        margin-bottom: 0;
    }
}

.brdrTrns{
    border-top: transparent solid 1px;
}

.primary-badge-color {
    color: $primary-badge-color;
}

.bgBottom{
    width: 100%;
    background: url(assets/images/card-bottom-bg.png) no-repeat left bottom;
    height: 75px;
    
}


.green{
    background-color: #007E28;

    .bgBottom{
        background-color: #007E28;
    }
}


