<section>
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
    <div class="form-group col">
      <label class="col-form-label">{{
        "card-management.blood_type" | translate
        }}</label>
      <span class="form-control-plaintext">{{
        healthDetails?.bloodType
        }}</span>
    </div>
    <div class="form-group col">
      <label class="col-form-label">{{
        "card-management.special_needs_assistance_needed" | translate
        }}</label>
      <span class="form-control-plaintext" *ngIf="
                  healthDetails?.specialNeeds
                    ?.length > 0
                ">{{ "general.label_yes" | translate }}</span
      >
      <span
        class="form-control-plaintext"
        *ngIf="
                  healthDetails?.specialNeeds
                    ?.length === 0
                "
      >{{ "general.label_no" | translate }}</span
      >
    </div>
    <div class="form-group col">
      <label class="col-form-label">{{
        "card-management.have_chronic_diseases" | translate
        }}</label>
      <span
        class="form-control-plaintext"
        *ngIf="
                  healthDetails?.diseases
                    ?.length > 0
                "
      >{{ "general.label_yes" | translate }}</span
      >
      <span
        class="form-control-plaintext"
        *ngIf="
                  healthDetails?.diseases
                    ?.length === 0
                "
      >{{ "general.label_no" | translate }}</span
      >
    </div>
    <div class="form-group col">
      <label class="col-form-label">{{
        "card-management.vaccinated" | translate
        }}</label>
      <span
        class="form-control-plaintext"
        *ngIf="
                  healthDetails?.immunizations
                    ?.length > 0
                "
      >{{ "general.label_yes" | translate }}</span
      >
      <span
        class="form-control-plaintext"
        *ngIf="
                  healthDetails?.immunizations
                    ?.length === 0
                "
      >{{ "general.label_no" | translate }}</span
      >
    </div>
    <div class="form-group col">
      <label class="col-form-label">{{
        "card-management.special_needs" | translate
        }}</label>
      <span class="form-control-plaintext">
                <span
                  *ngFor="
                    let need of healthDetails?.specialNeeds;
                    let lastItem = last
                  "
                >
                  {{
                  need.specialNeedTypeCode
                    ? lookupService().localizedLabel(
                      healthSpecialNeeds,
                      need.specialNeedTypeCode
                    )
                    : ""
                  }}<span *ngIf="!lastItem">-</span></span>
                            </span>
    </div>
    <div class="form-group col">
      <label class="col-form-label">{{
        "card-management.chronic_diseases" | translate
        }}</label>
      <span class="form-control-plaintext">
                <span
                  *ngFor="
                    let disease of healthDetails?.diseases;
                    let lastItem = last
                  "
                >
                  {{
                  currentLanguage.startsWith("en")
                    ? disease.labelEn
                    : disease.labelAr
                  }}<span *ngIf="!lastItem">-</span></span>
                            </span>
    </div>
  </div>
</section>
<hr class="my-4 w-100"/>
<section>
  <span class="form-control-plaintext">{{"card-management.vaccinations" | translate}}</span>
  <div class="text-center" *ngIf="!healthDetails?.immunizations">
    <svg-icon styleClass="display-1 text-dcc-light" icon="empty-set"></svg-icon>
    <p class="text-light-gray mb-3">{{ "general.no-data-found" | translate }}</p>
  </div>
  <div class="table-responsive my-4" *ngIf="healthDetails?.immunizations">
    <table class="table table-striped table-hover">
      <thead>
      <tr>
        <th scope="col">
          {{ "card-management.vaccination_name" | translate }}
        </th>
        <th scope="col">
          {{ "card-management.vaccination_date" | translate }}
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let immunization of healthDetails?.immunizations">
        <td
          class="ltr">{{ immunization.immunizationCode ? lookupService().localizedLabel(immunizations, immunization.immunizationCode) : ''}}</td>
        <td class="ltr">{{ immunization.immunizationDate | gregorianDateFormat }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</section>
