<nav aria-label="breadcrumb" class="pt-2"></nav>

<div class="title__Page justify-content-start d-flex flex-column flex-md-row mt-md-1">
    <h3 class="sectionTitle">{{"card-management.my_card" | translate }}</h3>
</div>
<section class="badge__section pb-4">
    <div class="d-flex justify-content-center">
        <app-badge></app-badge>
    </div>
    <!--BACK BUTTON-->
    <a class="d-block my-2" (click)="goBack()" href="javascript:void(0);">
        <svg-icon styleClass="mr-2 flip" icon="arrow-right"></svg-icon>
        <span class="mx-2 px-1">{{ "general.btn_back" | translate }}</span>
    </a>
</section>
