<div *ngIf="showAlert" class="alert reset-ritual mb-0" role="alert">
  <div class="d-flex justify-content-between align-items-center w-100 h-100"
       [ngClass]="{ container: showNavbar, 'px-md-0': showNavbar }">
    <div>
      <svg-icon class="mr-3" styleClass="fa" icon="lightbulb-exclamation"></svg-icon>
      <span>{{'header.alert_text' | translate}}</span>
      {{selectedApplicantRitual?.typeCode ? lookupService().localizedLabel(ritualTypes, selectedApplicantRitual?.typeCode) : ""}}
      <span>{{'header.season' | translate}}</span>
      {{selectedApplicantRitual?.seasonYear}}
    </div>
    <a class="reset-btn noArrow py-1 px-3" (click)="backToLatestRitualSeason()">
      <span>{{'header.alert_button_text' | translate}}</span>
      <svg-icon styleClass="fa ml-2" icon="redo"></svg-icon>
    </a>
  </div>
</div>
<header class="header-wrapper" [ngClass]="{ light_navbar: showNavbar }">
  <div class="d-md-flex justify-content-between align-items-center w-100"
       [ngClass]="{ container: showNavbar, 'px-md-0': showNavbar }">
    <div class="left-header d-md-flex">
      <!--BACK BUTTON-->
      <a *ngIf="!showNavbar" class="d-block" (click)="goBack()" href="javascript:void(0);">
        <svg-icon styleClass="ml-4 mr-2 flip" icon="arrow-right"></svg-icon>
        <span class="mx-2 px-1">{{ "general.btn_back" | translate }}</span>
      </a>

      <!-- LOGO -->
      <div *ngIf="showNavbar" class="logo flex-center py-3" [ngClass]="{ 'px-md-2': showNavbar }">
        <a href="javascript:void(0)" [routerLink]="['/']">
          <img src="assets/images/logo.png" alt="logo"/>
        </a>
      </div>

      <!-- NAVIGATION  -->
      <div *ngIf="showNavbar" class="d-flex">
        <nav class="navbar p-0 d-none d-md-flex mx-5">
          <div class="main-nav">
            <ul class="nav d-flex">
              <li routerLinkActive="active">
                <a (click)="isActive = false" class="py-2 d-block h6"
                   [routerLink]="['/cards/details/1']">{{ 'header.my_dashboard' | translate }}</a>
              </li>
              <li routerLinkActive="disable">
                <a (click)="isActive = false" class="py-2 d-block h6 "
                   [routerLink]="['/hajj-rituals']">{{ 'header.my_program' | translate }}</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>

    </div>

    <!--- PROFILE & SETTING-->
    <div class="nav-right">
      <ul class="nav-menus align-items-center" [ngClass]="{ 'mx-0': showNavbar }">
        <li class="flex-grow-1 avatarH">
          <a class="nav-link d-flex align-items-center">
            <svg-icon styleClass="h1 text-gray-300 resetH" icon="user-circle"></svg-icon>
            <div class="mx-3 pt-2">
              <h6 class="text-dark m-0">
                {{ currentUser?.firstName }} {{ currentUser?.lastName }}
              </h6>
              <small class="mb-2">
                <a class="text-black-50" (click)="open(showEditRitual)" href="javascript:void(0)">
                  {{selectedApplicantRitual?.typeCode ? lookupService().localizedLabel(ritualTypes, selectedApplicantRitual?.typeCode) : ""}}
                  <span *ngIf="currentLanguage.startsWith('ar')">عام</span>
                  {{selectedApplicantRitual?.seasonYear}}
                  ({{ getHijriDate(selectedApplicantRitual?.startDate,selectedApplicantRitual?.seasonYear) | hijriDateFormat}}
                  - {{getHijriDate(selectedApplicantRitual?.endDate,selectedApplicantRitual?.seasonYear) | hijriDateFormat}})
                </a>
              </small>
            </div>
          </a>
        </li>
        <li class="position-relative">

          <a #p="ngbPopover" class="nav-link d-flex align-items-center dropdown-toggle noArrow"
             [autoClose]="'outside'"
             [ngbPopover]="popContent"
             placement="bottom"
             href="javascript:void(0)"
             ngbTooltip="{{'header.notifications' | translate}}"
             id="notificationsLink"
             [container]="'nav-menus'"
             (click)="loadNotifications()"
          >
            <svg-icon styleClass="fa-w-16 h4 resetH" icon="bell"></svg-icon>
            <span class="notif bg-red"
                  *ngIf="userNewNotificationsCount?.userSpecificNewNotificationsCount > 0 || userNewNotificationsCount?.userNotSpecificNewNotificationsCount > 0">
              {{getNotificationCount()}}
            </span>
          </a>

          <ng-template #popContent>
            <ul ngbNav #nav="ngbNav" class="nav-tabs notifiTab header-notif" [(activeId)]="activeId">
              <li [ngbNavItem]="1">
                <a class="p-3" ngbNavLink>{{"notification-management.private_notifications" | translate}}
                  ({{userNewNotificationsCount?.userSpecificNewNotificationsCount}})</a>
                <ng-template ngbNavContent>
                  <app-notification-list [notifications]="getPrivateNotifications()"></app-notification-list>
                </ng-template>
              </li>
              <li [ngbNavItem]="2">
                <a class="p-3" ngbNavLink>{{"notification-management.public_notifications" | translate}}
                  ({{userNewNotificationsCount?.userNotSpecificNewNotificationsCount}})</a>
                <ng-template ngbNavContent>
                  <app-notification-list [notifications]="getPublicNotifications()"></app-notification-list>
                </ng-template>
              </li>
            </ul>
            <div class="content-container">
              <perfect-scrollbar class="scroll-container" [config]="config" [scrollIndicators]="true"
                                 (psYReachEnd)="onScrollEvent($event)" (psYReachStart)="onScrollEvent($event)">

                <div [ngbNavOutlet]="nav" class="mt-2"></div>

              </perfect-scrollbar>
            </div>

            <div class="flex-center py-3">
              <a class="text-body" role="button"
                 (click)="p.close();navigateToNotificationsPage()"><b>{{"notification-management.view_all_notifications" | translate}}</b></a>
              <svg-icon styleClass="text-black-50 mx-2 chevron" icon="chevron-double-left"></svg-icon>
            </div>

          </ng-template>

        </li>
        <li class="position-relative">
          <a class="nav-link" [routerLink]="['/settings']" ngbTooltip="{{ 'header.settings' | translate }}">
            <svg-icon styleClass="fa-w-16 h4 resetH" icon="cog"></svg-icon>
          </a>
        </li>
        <li class="position-relative">
          <a class="nav-link" href="javascript:void(0)" (click)="logout()"
             ngbTooltip="{{ 'header.logout' | translate }}">
            <svg-icon styleClass="fa-w-16 h4 flip resetH" icon="logout"></svg-icon>
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>

<ng-template class="edit-ritual-modal" #showEditRitual let-modal>
  <div class="modal-header">
    <h4 class="modal-title">{{'header.change_ritual_modal_title' | translate}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true" class="h1">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <table class="w-100">
      <tr class="table-row" *ngFor="let index = index; let s of applicantRitualPackages">
        <td class="ritual-season p-lg-3" (click)="selectSeason(s.id)">
          <div class="d-flex justify-content-between align-items-center">
            <div class="ml-3 ritual-item">
              {{s.typeCode ? lookupService().localizedLabel(ritualTypes, s?.typeCode) : ""}}
              <span *ngIf="currentLanguage.startsWith('ar')">عام</span>
              {{s?.seasonYear}}
              <span *ngIf="s?.seasonYear === currentHijriYear">({{'header.current_year' | translate}}
                )
              </span>
            </div>
            <div>
              <svg-icon *ngIf="s.selected" class="check-circle" styleClass="fa2x mr-2" icon="check-circle"></svg-icon>
            </div>
          </div>
          <div class="d-flex justify-content-between align-items-center">
            <small class="ml-3 ">
              ({{ getHijriDate(s?.startDate,s?.seasonYear) | hijriDateFormat}} - {{getHijriDate(s?.endDate, s?.seasonYear) | hijriDateFormat}})
            </small>
          </div>

        </td>
      </tr>
    </table>
  </div>
  <div class="modal-footer">
    <div>
      <svg-icon styleClass="fa mr-2" icon="lightbulb-exclamation"></svg-icon>
      <span>{{'header.change_ritual_modal_caution' | translate}}</span>
    </div>
    <button type="button" class="btn btn-dcc-primary"
            (click)="confirm()">{{'general.btn_confirm' | translate}}</button>
  </div>
</ng-template>



