
    <div class="form-group" provideParentForm>
      <label class="requiredInput" *ngIf="showLabel">{{ label }} </label>

      <div class="input-group">

        <input  class="form-control m-0"
                  [placeholder]="placeHolder ? placeHolder : 'DD/MM/YYYY'"
                  [name]="name"
                  *ngIf="selectedDateType == DateType.Gregorian"
                  [(ngModel)]="selectedDate"
                  ngbDatepicker (click)="d.toggle()"
                  (dateSelect)="dateSelected()"
                  autocomplete="off"
                  [readonly]="readonly"
                  [minDate]="minGreg"
                  [maxDate]="maxGreg"
                  [required]="isRequired"
                  [disabled]="disabled"
                  [footerTemplate]="footerTemplate"
                  #d="ngbDatepicker">

          <ng-template #footerTemplate>
            <hr class="my-0">
            <button class="btn btn-outline-dcc-primary btn-sm m-2 float-right" type="button" (click)="close()">Close</button>
            <button class="btn btn-dcc-primary btn-sm m-2 float-left" type="button" (click)="clear()">Clear</button>
          </ng-template>

          <hijri-date-picker *ngIf="selectedDateType == DateType.Hijri"
                             [(selectedDate)]="selectedDate"
                             (selectedDateChange)="dateSelected()"
                             [readonly]="readonly"
                             [min]="minHijri" [max]="maxHijri"
                             style="flex: 1 1 auto; border: none;"
                             class="form-control p-0"
                             [name]="name"
                             [isRequired]="isRequired"
                             [placeHolder]="placeHolder"
                             [disabled]="disabled">
          </hijri-date-picker>

          <div class="input-group-append">
                  <button class="btn btn-sm shadow-none {{selectedDateType == DateType.Hijri ? 'btn-'+buttonClass+' focus active' :  'btn-outline-'+ buttonClass }}" (click)="hijriClick()"  [disabled]="disabled" type="button">
                     {{hijriLabel ? hijriLabel : 'Hijri' }}
                  </button>
                  <button class="btn btn-sm shadow-none {{selectedDateType == DateType.Gregorian ? 'btn-'+buttonClass+' focus active' :  'btn-outline-'+ buttonClass }}" (click)="gregClick()" [disabled]="disabled" type="button">
                      {{GregLabel ? GregLabel : 'Gregorian' }}
                  </button>
           </div>

      </div>
  </div>
