<h3 class="mb-3 mt-4 text-dcc-primary">بيانات السكن</h3>

<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
    <div class="form-group col">
        <label class="col-form-label">نوع العنوان البريدي</label>
        <select class="custom-select">
            <option selected value="1"> عنوان وطني</option>
            <option value="2"> عنوان وطني</option>
        </select>
    </div>
    <div class="form-group col">
        <label class="col-form-label">المنطقة</label>
        <select class="custom-select">
            <option selected value="1">الرياض</option>
            <option value="2">جدة</option>
            <option value="3">الدمام</option>
        </select>
    </div>
    <div class="form-group col">
        <label class="col-form-label">المدينة</label>
        <select class="custom-select">
            <option selected value="1">الرياض</option>
            <option value="2">جدة</option>
            <option value="3">الدمام</option>
        </select>
    </div>
    <div class="form-group col">
        <label class="col-form-label">الحي</label>
        <select class="custom-select">
            <option selected value="1">الورود</option>
            <option value="2">السليمانية</option>
            <option value="3">العقيق</option>
            <option value="3">المنفوحة</option>
        </select>
    </div>
    <div class="form-group col">
        <label class="col-form-label">الشارع</label>
        <input type="text" class="form-control" value="الملك فهد">
    </div>
    <div class="form-group col">
        <label class="col-form-label">رقم المبنى</label>
        <input type="text" class="form-control" value="30">
    </div>
    <div class="form-group col">
        <label class="col-form-label">صندوق البريد</label>
        <input type="text" class="form-control">
    </div>
    <div class="form-group col">
        <label class="col-form-label">الرمز البريدي</label>
        <input type="text" class="form-control">
    </div>
    <div class="form-group col">
        <label class="col-form-label">رقم الوحدة</label>
        <input type="text" class="form-control">
    </div>
    <div class="form-group col">
        <label class="col-form-label">الرقم الاضافي</label>
        <input type="text" class="form-control">
    </div>
    <div class="form-group col">
        <label class="col-form-label">نوع السكن</label>
        <select class="custom-select">
            <option selected value="1">ملك</option>
            <option value="2">إيجار</option>
        </select>
    </div>
    <div class="form-group col">
        <label class="col-form-label">مبلغ الايجار</label>
        <input type="text" class="form-control">
    </div>

</div>