<div class="content__wrapper">
  <div class="title__Page">
    <h3 class="sectionTitle">
      {{ "printing-management.title" | translate }}
      <button class="btn btn-link shadow-none">
        <svg-icon styleClass="h4 pt-3" icon="search" (click)="isSearchbarCollapsed = !isSearchbarCollapsed"></svg-icon>
      </button>
    </h3>
    <button id="addPrintingRequest" routerLink="/print-requests/create" class="btn btn-outline-dcc-primary px-4" *ngIf="canCreateNewRequest">
      <svg-icon styleClass="mr-2" icon="plus"></svg-icon> <span>{{ "printing-management.new_request" | translate }}</span>
    </button>
  </div>
  <div class="content__section" *ngIf="!canSeePrintRequestsList">
    {{'header.welcome' | translate}} <span class="font-weight-bold text-dcc-primary">{{'general.app_name' | translate}}</span>
  </div>


  <div class="content__section" *ngIf="canSeePrintRequestsList">
    <div class="searchBox" [ngbCollapse]="isSearchbarCollapsed">
      <form class="row row-cols-1 row-cols-md-2 row-cols-lg-4">

        <div class="form-group col">
          <label class="col-form-label">{{ "printing-management.request_number" | translate }}</label>
          <input id="requestNumber" type="text" class="form-control" value="2148888"/>
        </div>

        <div class="form-group col">
          <label class="col-form-label">{{ "printing-management.printing_start_date" | translate }}</label>
          <hijri-gregorian-datepicker [showLabel]="false"
                                      name="printingStartDate"
                                      buttonClass="dcc-primary"
                                      class="datepicker"
                                      [isRequired]="false"
                                      [GregLabel]="'general.cal_greg' | translate"
                                      [hijriLabel] ="'general.cal_hijri' | translate"
                                      [disabled]="false"
                                      [readonly]="true"
                                      #datePicker>
          </hijri-gregorian-datepicker>
        </div>

        <div class="form-group col">
          <label class="col-form-label">{{ "printing-management.printing_end_date" | translate }}</label>
          <hijri-gregorian-datepicker [showLabel]="false"
                                      name="printingEndDate"
                                      buttonClass="dcc-primary"
                                      class="datepicker"
                                      [isRequired]="false"
                                      [GregLabel]="'general.cal_greg' | translate"
                                      [hijriLabel] ="'general.cal_hijri' | translate"
                                      [disabled]="false"
                                      [readonly]="true"
                                      #datePicker>
          </hijri-gregorian-datepicker>
        </div>

        <div class="form-group col">
          <label class="col-form-label">{{ "printing-management.batch_number" | translate }}</label>
          <input id="batchNumber" type="text" class="form-control" value="5721023"/>
        </div>

        <div class="form-group col">
          <label class="col-form-label">{{ "printing-management.id_number" | translate }}</label>
          <input id="idNumber" type="text" class="form-control" value="1035145879"/>
        </div>

        <div class="form-group col">
          <label class="col-form-label">{{ "card-management.card_number" | translate }}</label>
          <input id="cardNumber" type="text" class="form-control" value="542187"/>
        </div>

        <div class="form-group col">
          <label class="col-form-label">{{ "printing-management.request_status" | translate }}</label>
          <select id="requestStatus" class="custom-select">
            <option [ngValue]="null" disabled selected class="hidden">{{"general.select_option" | translate}}</option>
            <option>الكل</option>
            <option>تمت الطباعة</option>
            <option>جاهز للطباعة</option>
          </select>
        </div>

        <div class="form-group col-12">
          <button id="btnSearch" type="submit" (click)="search()" class="btn btn-dcc-primary px-5 mr-3">
            {{ "general.btn_search" | translate }}
          </button>
        </div>
      </form>
    </div>


    <div class="d-flex justify-content-end bg-dcc-light mt-7 actionBar">
      <div class="bg-white">
        <a id="exportToExcel" class="btn btn-dcc-light btn-action m-w-l" href="/">
          <svg-icon styleClass="mx-3 fa-w-18" icon="file-excel"></svg-icon>
          تصدير اكسل
        </a>
        <a id="exportToPDF" class="btn btn-dcc-light btn-action m-w-l" href="/">
          <svg-icon styleClass="mx-3 fa-w-18" icon="file-pdf"></svg-icon>
          تصدير PDF
        </a>
      </div>
    </div>

    <div class="table-responsive mلا-4">
      <table id="printingRequests" class="table table-striped table-hover">
        <thead>
          <tr>
            <th scope="col">{{'printing-management.request_number' | translate}}</th>
            <th scope="col">{{'printing-management.no_batches' | translate}}</th>
            <th scope="col">{{'printing-management.no_cards' | translate}}</th>
            <th scope="col">{{'printing-management.printing_date' | translate}}</th>
            <th scope="col">{{'printing-management.request_status' | translate}}</th>
            <th scope="col">{{'general.actions' | translate}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngIf="false" class="text-center">
            <td colspan="10">
              <svg-icon styleClass="display-1 text-dcc-light" icon="empty-set" ></svg-icon>
              <p class="text-light-gray mb-3">{{ "general.table_emtpy_text" | translate }}</p>
            </td>
          </tr>
          <tr>
            <td><a name="requestID" [routerLink]="['/print-requests/details']" class="text-dcc-primary font-weight-bold">{{'544820'}}</a></td>
            <td>{{'5'}}</td>
            <td class="ltr">{{'690'}}</td>
            <td class="ltr">{{'24-03-2021'}}</td>
            <td class="ltr">
              {{'تمت الطباعة'}}
              <span class="status mr-1 done"></span>
            </td>
            <td>
              <button [routerLink]="['/print-requests/details']" class="btn btn-sm btn-outline-dcc-primary">
                عرض
              </button>
            </td>
          </tr>
          <tr>
            <td><a [routerLink]="['/print-requests/details']" class="text-dcc-primary font-weight-bold">{{'544837'}}</a></td>
            <td>{{'5'}}</td>
            <td class="ltr">{{'247'}}</td>
            <td class="ltr">{{'24-03-2021'}}</td>
            <td class="ltr">
              {{'جاهز الطباعة'}}
              <span class="status mr-1 ready"></span>
            </td>
            <td>
              <button [routerLink]="['/print-requests/details']" class="btn btn-sm btn-outline-dcc-primary">
                عرض
              </button>
            </td>
          </tr>
          <tr>
            <td><a [routerLink]="['/print-requests/details']" class="text-dcc-primary font-weight-bold">{{'544837'}}</a></td>
            <td>{{'5'}}</td>
            <td class="ltr">{{'247'}}</td>
            <td class="ltr">{{'24-03-2021'}}</td>
            <td class="ltr">
              {{'جاهز الطباعة'}}
              <span class="status mr-1 Suspended"></span>
            </td>
            <td>
              <button [routerLink]="['/print-requests/details']" class="btn btn-sm btn-outline-dcc-primary">
                عرض
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>

</div>
