<nav aria-label="breadcrumb" class="pt-2">
    <ol class="breadcrumb bg-white mb-0 px-0 d-none d-md-flex">
        <li class="breadcrumb-item active" aria-current="page ">{{ "general.main" | translate}}</li>
        <li class="breadcrumb-item active" aria-current="page ">{{ "header.ritual_schedule" | translate}}</li>
    </ol>
</nav>

<div class="title__Page justify-content-start d-flex flex-column flex-md-row mt-md-1">
    <h3 class="sectionTitle">{{ stepDay }} {{ ("hijri-months." + stepMonth) | translate}}</h3>
</div>

<section class="journey__details__section pb-4">
    <div class="row">
        <div class="col-12 col-md-12 animated delay fadeInRight">
            <p>
              {{ritualStepDescription}}
            </p>

        </div>

    </div>
    <!--BACK BUTTON-->
    <a class="d-block my-2" (click)="goBack()" href="javascript:void(0);">
        <svg-icon styleClass="mr-2 flip" icon="arrow-right"></svg-icon>
        <span class="mx-2 px-1">{{ "general.btn_back" | translate }}</span>
    </a>
</section>
