<nav aria-label="breadcrumb" class="pt-2">
    <ol class="breadcrumb bg-white mb-0 px-0 d-none d-md-flex">
        <li class="breadcrumb-item active" aria-current="page ">الرئيسية</li>
        <li class="breadcrumb-item active" aria-current="page ">الجدول الزمني</li>
    </ol>
</nav>

<div class="title__Page justify-content-start d-flex flex-column flex-md-row mt-md-1">
    <h3 class="sectionTitle">9 ذي الحجة</h3>
</div>

<section class="journey__details__section pb-4">
    <div class="row">
        <div class="col-12 col-md-8 animated delay fadeInRight">
            <p>
              {{ritualStepDescription}}
            </p>

        </div>
        <div class="col-12 col-md-4 text-center my-md-0 my-4 animated delay fadeInLeft">
            <img class="mb-4" src="assets/images/Pilgrims_cover_Arafat's_roads.jpg" alt="" />
            <img class="mb-4" src="assets/images/Pilgrims_cover_Arafat's_roads.jpg" alt="" />
        </div>
    </div>
    <!--BACK BUTTON-->
    <a class="d-block my-2" (click)="goBack()" href="javascript:void(0);">
        <svg-icon styleClass="mr-2 flip" icon="arrow-right"></svg-icon>
        <span class="mx-2 px-1">{{ "general.btn_back" | translate }}</span>
    </a>
</section>
