<nav aria-label="breadcrumb" class="pt-2">
    <ol class="breadcrumb bg-white mb-0 px-0 d-none d-md-flex">
        <li class="breadcrumb-item active" aria-current="page ">الرئيسية</li>
        <li class="breadcrumb-item active" aria-current="page ">الجدول الزمني</li>
    </ol>
</nav>

<div class="title__Page justify-content-start d-flex flex-column flex-md-row mt-md-1">
    <h3 class="sectionTitle">9 ذي الحجة</h3>
</div>

<section class="journey__details__section pb-4">
    <div class="row">
        <div class="col-12 col-md-8 animated delay fadeInRight">
            <p>
                يوم عرفة هو يوم التاسع من شهر ذي الحجة، ويعد من أفضل الأيام عند المسلمين إذ أنه أحد أيام العشر من ذي الحجة. فيه يقف الحُجّاج على جبل عرفة حيث أن الوقوف بعرفة يعد أهم أركان الحج، ويقع جبل عرفة شرق مكة على الطريق الرابط بينها وبين الطائف بحوالي 22 كم، وعلى
                بعد 10 كيلومترات من مشعر منى و6 كيلو مترات من مزدلفة، وهو المشعر الوحيد الذي يقع خارج حدود الحرم. مع شروق شمس يوم التاسع من ذي الحجة يخرج الحاج من منى متوجهاً إلى عرفة للوقوف بها، والوقوف بعرفة يتحقق بوجود الحاج في أي جزء من أجزاء عرفة،
                سواء كان واقفاً أو راكباً أو مضطجعاً، لكن إذا لم يقف الحاج داخل حدود عرفة المحددة في هذا اليوم فقد فسد حَجُّه، يعد الوقوف بعرفة أهم ركن من أركان الحج وذلك لقول النبي محمد: «الحج عرفة فمن جاء قبل صلاة الفجر من ليلة جمع فقد تم حجه».
            </p>
            <p>
                وقد وردت بعض الأحاديث النبوية التي تتحدث عن فضل هذا اليوم منها: ما رواه أبو هريرة عن النبي محمد أنه قال: «إن الله يباهي بأهل عرفات أهل السماء، فيقول لهم: انظروا إلى عبادي جاءوني شعثاً غبراً»، وما روته عائشة عن النبي محمد أنه قال: «ما من يوم أكثر من أن
                يعتق الله فيه عبيداً من النار من يوم عرفة، وإنه ليدنو يتجلى، ثم يباهي بهم الملائكة فيقول: ما أراد هؤلاء؟ اشهدوا ملائكتي أني قد غفرت لهم». وقت الوقوف بعرفة هو من زوال شمس يوم عرفة إلى طلوع فجر اليوم التالي الذي هو أول أيام عيد الأضحى، ويصلي
                الحاج في عرفة صلاتي الظهر والعصر جمع تقديم بأذان واحد وإقامتين، ويستحب للحاج في يوم عرفة أن يكثر من الدعاء والتلبية وذلك لقول النبي محمد: «خير الدعاء دعاء يوم عرفة وخير ما قلت أنا والنبيون من قبلي لا إله إلا الله وحده لا شريك له له الملك
                وله الحمد وهو على كل شيء قدير»، يبقى الحجاج في عرفة حتى غروب الشمس، فإذا غربت الشمس ينفر الحجاج من عرفة إلى مزدلفة للمبيت بها، ويصلي بها الحاج صلاتي المغرب والعشاء جمع تأخير؛ بمعنى أن يؤخر صلاة المغرب حتى دخول وقت العشاء، ويستحب للحاج
                الإكثار من الدعاء والأذكار، ويجمع الحاج الحصى، ثم يقضي ليلته في مزدلفة حتى يصلي الفجر، بعد ذلك يتوجه الحاج إلى منى لرمي جمرة العقبة الكبرى.
            </p>
        </div>
        <div class="col-12 col-md-4 text-center my-md-0 my-4 animated delay fadeInLeft">
            <img class="mb-4" src="assets/images/Pilgrims_cover_Arafat's_roads.jpg" alt="" />
            <img class="mb-4" src="assets/images/Pilgrims_cover_Arafat's_roads.jpg" alt="" />
        </div>
    </div>
    <!--BACK BUTTON-->
    <a class="d-block my-2" (click)="goBack()" href="javascript:void(0);">
        <svg-icon styleClass="mr-2 flip" icon="arrow-right"></svg-icon>
        <span class="mx-2 px-1">{{ "general.btn_back" | translate }}</span>
    </a>
</section>