<div class="d-flex flex-column flex-lg-row justify-content-center align-items-center min-vw-100">
    <div class="animated animated-landing fadeInUp delay mx-md-5 border border-dcc-secondary text-center px-5 py-6 bg-white landing_login_card">
        <div class="text-center">
            <img class="mb-4" src="assets/images/logo.png" alt="logo" />
        </div>
        <a class="btn btn-dcc-primary px-5 stretched-link" href="/login">أفراد</a>
    </div>
    <div class="animated animated-landing fadeInUp delay mx-md-5 border border-dcc-secondary text-center px-5 py-6 bg-white landing_login_card">
        <div class="text-center">
            <img class="mb-4" src="assets/images/logo.png" alt="logo" />
        </div>
        <a class="btn btn-dcc-primary-public px-4 stretched-link" href="/login">مؤسسات</a
    >
  </div>
</div>