<span class="lang_swtich_login">
  <button
    class="btn btn-md border btn-light px-3 mt-4 mb-3"
    *ngIf="currentLanguage.startsWith('en')"
    (click)="setLanguage('ar-SA')"
  >
    <span>عربي</span>
</button>
<button class="btn btn-md border btn-light px-3 mt-4 mb-3" *ngIf="currentLanguage.startsWith('ar')" (click)="setLanguage('en-US')">
    <span>English</span>
  </button>
</span>
<div class="login__box">
    <div class="text-center">
        <img class="my-4" src="assets/images/logo.png" alt="logo" />
    </div>
    <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()" class="login-box__wrapper">
      <div class="alert alert-danger" [hidden]="!error || loading">
        {{ "reset-password.invalid_uin_or_birthdate" | translate }}
      </div>
      <h1 class="text-dcc-primary font-weight-bold mb-4 h3">
            {{ "reset-password.title" | translate }}
        </h1>
        <div class="form-group">
            <div class="d-flex flex-column flex-lg-row justify-content-between">
                <div class="custom-control custom-radio custom-control-inline mb-2 mb-lg-0">
                    <input type="radio" id="customRadioInline1" name="customRadioInline1" class="custom-control-input" checked/>
                    <label class="custom-control-label" for="customRadioInline1">{{"register.smart_id_number"|translate}}</label
          >
        </div>
        <div
          class="custom-control custom-radio custom-control-inline mb-2 mb-lg-0"
        >
          <input
            type="radio"
            id="customRadioInline2"
            name="customRadioInline1"
            class="custom-control-input"
            [disabled]="true"
          />
          <label class="custom-control-label" for="customRadioInline2"
            >{{"general.identity_number"|translate}}</label
          >
        </div>
        <div
          class="custom-control custom-radio custom-control-inline mb-2 mb-lg-0"
        >
          <input
            type="radio"
            id="customRadioInline3"
            name="customRadioInline1"
            class="custom-control-input"
            [disabled]="true"
          />
          <label class="custom-control-label" for="customRadioInline3"
            >{{"card-management.passport_number"|translate}}</label
          >
        </div>
      </div>
    </div>
    <div class="form-group">
      <label
        >{{"register.smart_id_number"|translate}}
        <span class="text-danger px-1">*</span></label
      >
      <input
        type="text"
        class="form-control"
        formControlName="idNumber"
        autocomplete="off"
        required
        maxlength="50"
        [class.is-invalid]="f.idNumber.invalid && f.idNumber.touched"
      />
      <div
        *ngIf="f.idNumber.invalid && f.idNumber.touched"
        class="invalid-feedback"
      >
        <div *ngIf="f.idNumber.errors.required">
          {{ "general.field_validation_required" | translate }}
        </div>
        <div *ngIf="f.idNumber.errors.pattern">
          {{ "general.field_validation_pattern" | translate }}
        </div>
        <div *ngIf="f.idNumber.errors.invalid">
          {{ f.idNumber.errors["invalid"] | translate }}
        </div>

      </div>
    </div>
    <div class="form-group">
      <label
        >{{ "general.date_of_birth" | translate
        }}<span class="text-danger px-1">*</span></label
      >

      <hijri-gregorian-datepicker
        [showLabel]="false"
        name="dateOfBirthGregorian"
        buttonClass="dcc-primary"
        class="datepicker {{
          f.dateOfBirthGregorian.errors && f.dateOfBirthGregorian.touched
            ? 'is-invalid'
            : ''
        }}"
        [(selectedDate)]="selectedDateOfBirth"
        (selectedDateChange)="onDateOfBirthChange($event)"
        [isRequired]="true"
        [maxGreg]="maxDateOfBirthGregorian"
        [maxHijri]="maxDateOfBirthHijri"
        [GregLabel]="'general.cal_greg' | translate"
        [hijriLabel]="'general.cal_hijri' | translate"
        [selectedDateType]="selectedDateType"
        [disabled]="false"
        [readonly]="true"
        #datePicker
      >
      </hijri-gregorian-datepicker>

      <div class="text-dcc-primary date-eq" *ngIf="dateString">
        {{ "general.cal_eq" | translate }} {{ dateString }}
      </div>

      <div
        *ngIf="f.dateOfBirthGregorian.errors && f.dateOfBirthGregorian.touched"
        class="invalid-feedback date-eq"
      >
        <div *ngIf="f.dateOfBirthGregorian.errors.required">
          {{ "general.field_validation_required" | translate }}
        </div>
        <div *ngIf="f.dateOfBirthGregorian.errors.invalid" translate>
          {{ f.dateOfBirthGregorian.errors["invalid"] }}
        </div>
      </div>
    </div>

    <ngx-recaptcha2
      #reCaptchaEl
      type="Image"
      formControlName="recaptcha"
      class="recaptcha"
      [siteKey]="recaptchaSiteKey"
      hl="{{ currentLanguage }}"
      (load)="onCaptchaLoad()"
      (ready)="onCaptchaReady()"
      (success)="onCaptchaSuccess($event)"
    >
    </ngx-recaptcha2>

    <div class="form-group">
      <button
        class="btn btn-dcc-primary btn-block"
        [disabled]="resetPasswordForm.invalid || loading"
      >
        <span
          *ngIf="loading"
          class="spinner-border spinner-border-sm mr-1"
        ></span>
        {{ "reset-password.btn_reset_password" | translate }}
      </button>
    </div>
  </form>
  <div class="text-center my-4">
    <a [routerLink]="['/login']" class="text-dcc-primary d-block mt-3">
      <svg-icon styleClass=" flip" icon="arrow-right"></svg-icon>
      <span class="mx-2 px-1">
        {{ "reset-password.btn_back_to_login" | translate }}
      </span>
    </a>
  </div>
</div>
