<!-- <span class="lang_swtich_login">
  <button
    class="btn btn-md border btn-light mt-n6 shadow-none"
    *ngIf="currentLanguage.startsWith('en')"
    (click)="setLanguage('ar-SA')"
  >
    <span>عربي</span>
</button>
<button class="btn btn-md border btn-light mt-n6 shadow-none" *ngIf="currentLanguage.startsWith('ar')" (click)="setLanguage('en-US')">
    <span>English</span>
  </button>
</span> -->
<div class="login__box px-4 px-md-6 mb-4">
  <div class="text-center mt-6 mb-4">
    <img src="assets/images/logo.png" alt="logo" />
  </div>
  <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()" class="login-box__wrapper pt-5">
    <div class="alert alert-danger" [hidden]="!error || loading">
      {{ "reset-password.invalid_uin_or_birthdate" | translate }}
    </div>
    <h1 class="text-dcc-primary font-weight-bold mb-5 h4">
      {{ "reset-password.title" | translate }}
    </h1>
    <div class="form-group">
      <div class="d-flex flex-column flex-lg-row justify-content-between flex-wrap">
        <div class="custom-control custom-radio custom-control-inline mb-2 mb-lg-0">
          <input type="radio" id="customRadioInline1" name="customRadioInline1" class="custom-control-input" checked/>
          <label class="custom-control-label text-nowrap" for="customRadioInline1" (click)="loginType = 'uin'">{{"register.smart_id_number"|translate}}</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline mb-2 mb-lg-0">
          <input type="radio" id="customRadioInline2" name="customRadioInline1" class="custom-control-input"
          />
          <label class="custom-control-label text-nowrap" for="customRadioInline2" (click)="loginType = 'id'">{{"general.identity_number"|translate}}</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline mb-2 mb-lg-0">
          <input type="radio" id="customRadioInline3" name="customRadioInline1" class="custom-control-input"
          />
          <label class="custom-control-label text-nowrap" for="customRadioInline3" (click)="loginType = 'passport'">{{"card-management.passport_number"|translate}}</label>
        </div>
      </div>
    </div>
    <div class="form-group" *ngIf="loginType == 'passport'">
      <!--TODO TO BE REFACTORED-->
      <select class="custom-select font-weight-normal" (change)="selectNationality($event.target.value)">
        <option selected>{{'general.nationality' | translate}}</option>
        <option *ngFor="let country of lookupService().localizedItemsByLang(countriesList)"
                [value]="country.code">
          {{country.label}}
        </option>
      </select>
    </div>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="{{'register.smart_id_number'|translate}}"
             formControlName="idNumber" autocomplete="off" required maxlength="50"
             [class.is-invalid]="f.idNumber.invalid && f.idNumber.touched"/>
      <div *ngIf="f.idNumber.invalid && f.idNumber.touched" class="invalid-feedback">
        <div *ngIf="f.idNumber.errors.required">
          {{ "general.field_validation_required" | translate }}
        </div>
        <div *ngIf="f.idNumber.errors.pattern">
          {{ "general.field_validation_pattern" | translate }}
        </div>
        <div *ngIf="f.idNumber.errors.invalid">
          {{ f.idNumber.errors["invalid"] | translate }}
        </div>

      </div>
    </div>

<!--    TODO In case you cant to use a datepicker with new UI-->
<!--
    <div class="form-group">
      <div class='input-group mr-3 calendar'>
        <input class="form-control bg-transparent" placeholder="تاريخ الميلاد" name="">
        <i class="icon"></i>
      </div>
    </div>-->


    <div class="form-group">
      <!-- <label
        >{{ "general.date_of_birth" | translate
        }}<span class="text-danger px-1">*</span></label
      > -->

      <hijri-gregorian-datepicker [showLabel]="false" name="dateOfBirthGregorian" buttonClass="dcc-primary" class="datepicker {{
          f.dateOfBirthGregorian.errors && f.dateOfBirthGregorian.touched
            ? 'is-invalid'
            : ''
        }}" [(selectedDate)]="selectedDateOfBirth" (selectedDateChange)="onDateOfBirthChange($event)"
        [isRequired]="true" [maxGreg]="maxDateOfBirthGregorian" [minGreg]="minDateOfBirthGregorian"
        [maxHijri]="maxDateOfBirthHijri" [minHijri]="minDateOfBirthHijri" [GregLabel]="'general.cal_greg' | translate"
        [hijriLabel]="'general.cal_hijri' | translate" [selectedDateType]="selectedDateType" [disabled]="false"
        [readonly]="true" #datePicker>
      </hijri-gregorian-datepicker>

      <div class="text-dcc-primary date-eq" *ngIf="dateString">
        {{ "general.cal_eq" | translate }} {{ dateString }}
      </div>

      <div *ngIf="f.dateOfBirthGregorian.errors && f.dateOfBirthGregorian.touched" class="invalid-feedback date-eq">
        <div *ngIf="f.dateOfBirthGregorian.errors.required">
          {{ "general.field_validation_required" | translate }}
        </div>
        <div *ngIf="f.dateOfBirthGregorian.errors.invalid" translate>
          {{ f.dateOfBirthGregorian.errors["invalid"] }}
        </div>
      </div>
    </div>

    <ngx-recaptcha2 #reCaptchaEl type="Image" formControlName="recaptcha" class="recaptcha" [siteKey]="recaptchaSiteKey"
      hl="{{ currentLanguage }}" (load)="onCaptchaLoad()" (ready)="onCaptchaReady()"
      (success)="onCaptchaSuccess($event)">
    </ngx-recaptcha2>

    <div class="form-group">
      <button class="btn btn-dcc-primary btn-block" [disabled]="resetPasswordForm.invalid || loading">
        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
        {{ "reset-password.btn_reset_password" | translate }}
      </button>
    </div>
  </form>
  <div class="text-center">
    <a [routerLink]="['/login']" class="text-dcc-primary">
      {{ "reset-password.btn_back_to_login" | translate }}
    </a>
  </div>
</div>
