.recaptcha>div>div {
    padding-left: calc(50% - 152px);
    padding-right: calc(50% - 152px);
    padding-bottom: 1.5rem;
}

.datepicker .form-group label {
    display: none;
}

.date-eq {
    margin-top: -1.5rem;
    margin-bottom: -1rem;
    font-size: 80%;
}