
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.arrow_icon {
  background: url(~assets/images/svg-icons/chevron-down-light.svg) no-repeat;
  background-size: 18px 15px;
  background-position: calc(100% - 5px) center;

  direction: ltr;
  font-weight: normal !important;
}

.country_code_flag {
  position: relative;

  .flag-icon {
    .flag-icon.flag-icon-selected {
      background-size: cover;
      position: absolute;
      left: 0;
      right: calc(100% + -35px);
      top: 12px;
      margin-top: 0;
    }

    .flag-icon {
      background-size: cover;
      position: absolute;
      left: 0;
      right: calc(100% + -35px);
      margin-top: 0.3rem;
    }

  }
}

ngb-typeahead-window.dropdown-menu {
  min-width: 7.4rem;
  max-height: 250px;
  overflow: auto;

  button.dropdown-item.active, .dropdown-item:active {
    color: #212529;
    text-decoration: none;
    background-color: #f7f4ef;
  }

  [dir='rtl'] & {
    right: auto;
    text-align: left !important;
  }

  .dropdown-item {
    direction: ltr;

    [dir='rtl'] & {
      padding-left: 35px;
    }

    [dir='ltr'] & {
      padding-left: 35px;
    }
  }
}
.form-control:disabled {
  color: #6c757d !important;
  background-color: #d8d8d8 !important;
  font-weight: unset !important;
}

.custom-select:disabled {
  color: #6c757d;
  background-color: #d8d8d8 !important;
}
