
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.dropdown-menu {
  margin: 0;
  padding: 0;
  border: 0;
}

.form-control:disabled {
  color: #6c757d !important;
  background-color: #d8d8d8 !important;
  font-weight: unset !important;
}

.custom-select:disabled {
  color: #6c757d;
  background-color: #d8d8d8 !important;
}

.country-prefix-button {
  color: #000000;
  border-right: none;
}

.country-prefix-button:disabled {
  color: #6c757d;
  background-color: #d8d8d8;
  opacity: 1;
}
