
<app-loading [loading]="loading"></app-loading>
<div *ngIf="!loading">

  <div class="content__section flex-center flex-center-vert" *ngIf="!surveyAlreadySubmitted">
    <h3 class="sectionTitle">
      {{'survey.already_submitted' | translate}}
    </h3>
  </div>

  <div class="content__section flex-center flex-center-vert" *ngIf="!surveyNotAvailable">
    <h3 class="sectionTitle">
      {{'survey.not_available' | translate}}
    </h3>
  </div>

  <div class="content__section " *ngIf="surveyAvailable">
    <nav aria-label="breadcrumb" class="pt-2">
      <ol class="breadcrumb bg-white mb-0 px-0 d-none d-md-flex">
        <li class="breadcrumb-item active" aria-current="page "></li>
      </ol>
    </nav>
    <div class="content__wrapper">
      <div class="title__Page">
        <h3 class="sectionTitle">
          {{'survey.daily_survey_title' | translate}}
        </h3>
      </div>


      <div class="rating p-3 my-4">
        <p class="text-black-50">{{'survey.daily_survey_today' | translate}}</p>
        <h5 class="text-dark Elm-fontb">{{getTodayDate()}}</h5>
      </div>

      <div class="flex-center-between py-4 border-bottom" *ngFor="let userSurveyQuestion of userSurveyQuestions">
        <b> {{userSurveyQuestion.surveyQuestion.label}}</b>
        <ngb-rating [rate]="userSurveyQuestion.rate" [max]=5 (rateChange)="onChangeRating($event, userSurveyQuestion)">
          <ng-template let-fill="fill">
            <span class="star" [ngClass]="'color'"[class.filled]="fill === 100">&#9733;</span>
          </ng-template>
        </ngb-rating>
      </div>


      <div class="d-flex justify-content-between mt-4">
        <button class="btn btn-dcc-primary px-4" (click)="submitSurvey()">{{'general.btn_send' | translate}}</button>
      </div>

    </div>
  </div>

</div>
